h5 {
  font-weight: 500;
}

.section {
  padding: 5px 0 5px 20px;
  border-left: 3px solid #ddd;
}

.endBloc,
.nodeBloc,
.subflowBloc,
.returnBloc {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-top: 5px;
}

.returnBloc {
  background-color: darkcyan;
}
.endBloc {
  background-color: #e62eea;
}
.nodeBloc {
  background-color: black;
}
.subflowBloc {
  background-color: blue;
}

.tip {
  font-size: 90%;
  color: #777;
}

.returnToNodeSection {
  input {
    padding: 5px;
  }
}
