.wrapper {
  &:focus-within {
    &:not(:global(.has-error)) + .wrapper {
      .tagInput {
        border-top-color: transparent !important;
      }
    }

    .tagInput:not(:global(.has-error)) {
      border-top-color: var(--ocean) !important;
      border-bottom-color: var(--ocean) !important;
    }
  }
}

.inputWrapper {
  position: relative;
}

.copyBtn {
  border-radius: 4px;
  background: #fff !important;
  transition: background 0.3s;
  position: absolute;
  line-height: 0 !important;
  padding: var(--spacing-small) !important;
  top: var(--spacing-medium);
  right: 0;

  &:hover {
    background-color: var(--bg) !important;
  }

  svg {
    fill: var(--reef) !important;
  }
}

.tag {
  margin: var(--spacing-small) var(--spacing-small) 0 0 !important;
  font-size: 10px !important;
  line-height: 1.25 !important;
  color: var(--shark) !important;
  font-weight: normal !important;
  border-radius: 3px !important;
  background-color: var(--bg) !important;
}

.error {
  font-size: 12px;
  line-height: 1.25;
  color: var(--lighthouse);
  margin: var(--spacing-small) 0 var(--spacing-large);
  display: block;
}
