.superInputWrapper {
  background: #fff !important;
  border: 1px solid var(--seashell) !important;
  border-radius: 3px !important;

  .tagBtnWrapper  {
    float: right;
    position: relative;
    z-index: 9;
  }

  .tagBtn {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: calc(var(--spacing-large) - 1px) var(--spacing-medium);

    svg {
      fill: var(--reef);
      transition: fill 0.3s;
    }

    &:hover svg {
      fill: var(--shark);
    }
  }

  .superInput {
    background: none;
    border: none;
    color: var(--shark) !important;
    display: block;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.85 !important;
    padding: var(--spacing-medium) var(--spacing-large) !important;
    resize: none;
    transition: border 0.3s !important;
    width: 100% !important;

    &:focus, &:focus-within {
      border-color: var(--ocean) !important;
      box-shadow: none !important;
    }

    :global {
      .tagify__tag {
        color: var(--shark);
        font-size: 8px;

        svg {
          fill: var(--shark);
        }

        & > div {
          align-items: center;
          background: var(--bg);
          border-radius: 3px;
          display: flex;
          height: 20px;
          line-height: 1.25;
          padding: 0 var(--spacing-small);

          &:before {
            display: none
          }

          .tagify__tag-text {
            margin-left: var(--spacing-x-small);
          }
        }
      }

      .tagify__input {
        padding: 0;
      }
    }
  }
}

.dropdown {
  border: none;
  border-radius: 3px;
  box-shadow: 0 8px 24px 0 rgba(16, 22, 26, 0.2), 0 2px 4px 0 rgba(16, 22, 26, 0.2), 0 0 0 1px rgba(16, 22, 26, 0.1);
  background-color: #fff;

  :global {
    .tagify__dropdown__wrapper {
      border: none;
      box-shadow: none;
      background-color: none;
      padding: var(--spacing-medium);
    }

    .tagify__dropdown__item {
      background-color: #fff;
      border-radius: 5px;
      transition: background 0.3s;
      font-size: 12px;
      line-height: 1.25;
      color: var(--shark);
      padding: var(--spacing-medium) var(--spacing-large);

      .description {
        display: block;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s 0.3s, visibility 0.3s 0.3s, max-height 1s 0;
        font-size: 8px;
        line-height: 1.25;
        color: var(--shark);
      }

      &.tagify__dropdown__item--active {
        color: var(--shark);
        background-color: var(--bg);

        .description {
          visibility: visible;
          opacity: 1;
          max-height: 100%;
        }
      }
    }
  }
}
