.title {
  height: var(--sa-page-header-height);
  padding: 5px 10px;

  font-weight: bold;

  span {
    margin-right: 10px;
  }
}

.overflow {
  height: calc(var(--container-height) - var(--sa-page-header-height));
  overflow: auto;
}

.fullWidth {
  max-width: 95% !important;
  margin: 30px auto;
}

.content {
  max-width: 1000px;
  margin: 30px auto;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid #999;
  height: var(--header-height);

  .logo {
    width: 140px;
  }

  :global(.bp3-navbar),
  :global(.nav-link) {
    color: var(--standard);
    background-color: var(--white);
    font-size: 14px;
    border-bottom: 1px solid var(--seashell);
    box-shadow: none;
  }

  :global(.bp3-navbar-divider) {
    border-left: 1px solid #efefef;
  }

  :global(.dropdown-toggle.nav-link) {
    display: flex;
    align-items: center;
  }
}
