.modal {
  :global(.btn-info) {
    background-color: #46cba0;
    border-color: #46cba0;

    &:hover {
      background-color: #40bd94;
      border-color: #40bd94;
    }
  }
}

.formBtns {
  display: flex;
  justify-content: flex-end;

  button + button {
    margin-left: 10px;
  }
}
