$content-bg-color: #3f3f3f;

.code {
  min-height: 85vh;
  background-color: $content-bg-color;

  :global(.CodeMirror) {
    height: 100%;
    background-color: $content-bg-color;
  }

  :global(.CodeMirror-gutters) {
    border: none;
  }
}
