@import url('../../studio/ui/public/external/font-roboto.css');

/* To make sure that we don't apply style that might break the default style of IE */
@supports not (-ms-high-contrast: none) {
  :root {
    --font-family: Roboto;
    --white: #ffffff;
    --bg: #f5f6f8;
    --seashell: #e2e2e2;
    --gray: #bec5c9;
    --reef: #5c7080;
    --shark: #1a1e22;
    --overlay: rgba(26, 30, 34, 0.8);
    --say: #a4ded0;
    --trigger: #ffe5b4;
    --execute: #b0c4de;
    --prompt: #e2c7e0;
    --color-fill-if-else: #febbad;
    --lighthouse: #f66f48;
    --focus-lighthouse: #e06542;
    --hover-lighthouse: #f39c82;
    --hover-lighthouse-30: #f9ddd5;
    --ocean: #3276ea;
    --hover-ocean: #cad7f5;

    --spacing-x-small: 2px;
    --spacing-small: 4px;
    --spacing-medium: 8px;
    --spacing-large: 12px;
    --spacing-x-large: 16px;
    --spacing-xx-large: 20px;
    --spacing-xxx-large: 24px;
    --spacing-xxxx-large: 28px;

    --right-sidebar-width: 240px;
    --emulator-width: 300px;
  }

  body {
    font-family: Roboto;
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
    outline: none !important;
  }

  .hidden {
    visibility: hidden;
    height: 0;
  }

  .bpw-chat-bubble-content {
    border: solid 1px var(--seashell);
    font-size: 12px;
    line-height: 1.25;
    border-radius: 15px;
    color: var(--shark);
    padding: var(--spacing-medium);
    transition: border 0.3s, background 0.3s, color 0.3s;
  }

  .bpw-from-user .bpw-chat-bubble:last-of-type .bpw-chat-bubble-content {
    border-bottom-right-radius: 0;
  }

  .bpw-from-bot .bpw-chat-bubble:last-of-type .bpw-chat-bubble-content {
    border-bottom-left-radius: 0;
  }

  .bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    border-color: var(--bg);
    background-color: var(--bg);
    color: var(--shark);
  }

  .bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: var(--white);
  }

  .bpw-from-bot .bpw-bubble-highlight .bpw-chat-bubble-content {
    border-color: var(--ocean);
  }

  .bpw-from-user .bpw-bubble-highlight .bpw-chat-bubble-content {
    border-color: var(--ocean);
    background-color: var(--hover-ocean);
  }

  .bpw-from-user .bpw-bubble-highlight .bpw-chat-bubble-content a {
    color: #fff;
  }

  .bpw-bubble-session_reset {
    background: var(--bg);
    max-width: calc(100% + 22px) !important;
    width: calc(100% + 22px) !important;
    font-size: 10px;
    border-radius: 3px;
    line-height: 1;
    margin: var(--spacing-xx-large) 0 !important;
  }

  .bpw-bubble-session_reset .bpw-chat-bubble-content {
    color: var(--shark);
    background: none !important;
    border: none;
    border-radius: 0;
    padding: 0;
    text-align: center;
    padding: var(--spacing-small) 0;
  }

  .bp-emulator-history .bpw-chat-bubble {
    color: #000000;
    background: none;
    border: 0px;
    display: inline-block;
  }

  .bp-emulator-history .bpw-bubble-carousel {
    display: block;
    margin-left: 30px;
  }

  .bpw-widget-btn {
    background-color: #000000;
  }

  .bpw-message-read-more {
    color: #00f;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 15px;
    line-height: 23px;
    margin: 5px 0 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
  }

  .bpw-widget-btn:focus,
  .bpw-widget-btn:hover {
    background-color: #333;
  }

  .bpw-chat-container {
    background-color: #ffffff;
    color: #000000;
  }

  .bpw-bot-avatar.default {
    border-radius: 50%;
    background: var(--shark);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bpw-bot-avatar:not(.default) img,
  .bpw-bot-avatar:not(.default) svg {
    border-radius: 50%;
    background: var(--shark);
  }

  .bpw-layout {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--bg);
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bpw-layout-fullscreen {
    visibility: visible;
  }

  .bpw-bot-avatar {
    margin-right: 5px;
  }

  .bpw-bot-avatar.emulator {
    height: 16px;
    width: 16px;
    min-width: 16px;
    border-radius: 50%;
    background: var(--shark);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bpw-bot-avatar:not(.emulator):not(.default) img,
  .bpw-bot-avatar:not(.emulator):not(.default) svg {
    border-radius: 50%;
    background: var(--shark);
  }

  .bpw-keyboard-label {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1.25;
    color: var(--shark);
    margin-bottom: 4px;
  }

  .bpw-button {
    border-radius: 15px;
    border: dashed 1px var(--seashell);
    background: none;
    font-size: 12px;
    line-height: 40px;
    color: var(--shark);
    margin-right: 12px;
    cursor: pointer;
    min-height: 40px;
    padding: var(--spacing-x-small) var(--spacing-large);
    transition: border 0.3s, background 0.3s, color 0.3s;
  }

  .bpw-file-button {
    padding: 0 10px;
  }

  .bpw-button-alt {
    background-color: var(--main-bg-color);
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    min-width: 5rem;
    height: 40px;
  }

  .bpw-button:hover {
    color: var(--ocean);
    border: solid 1px var(--ocean);
    background-color: var(--hover-ocean);
  }

  .bpw-button:disabled {
    color: var(--shark);
    border: solid 1px var(--gray);
    background-color: var(--gray);
  }

  .bpw-input {
    height: 30px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
    border-bottom: 1px solid #bbb;
    width: 200px;
    text-align: center;
    margin: 10px;
    font-size: 14px;
  }

  .bpw-file-message {
    padding: 0.5rem 0.75rem;
  }

  .bpw-message-big-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: var(--spacing-medium) 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 0;
    padding-left: 0;
  }

  .bpw-message-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bpw-message-username {
    margin: 0 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0.3125rem 0;
    font-size: 12px;
    color: #9a9a9a;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bpw-message-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }

  .bpw-message-group > :not(:last-child):not(.hidden) {
    margin-bottom: 2px;
  }

  .bpw-message-timestamp {
    font-size: 0.6rem;
    float: right;
  }

  .bpw-from-user {
    padding-right: 0;
  }

  .bpw-from-user .bpw-message-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .bpw-from-user .bpw-message-group {
    padding-left: 22px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* */
  .bpw-msg-list-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 1px;
  }

  .bpw-msg-list-scroll-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: hidden;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .bpw-msg-list {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .bpw-msg-list-follow {
    display: none;
  }

  .bpw-date-container {
    font-size: 10px;
    line-height: 1.25;
    margin: var(--spacing-large) 0 var(--spacing-x-large);
    color: var(--shark);
    text-align: center;
  }

  .bpw-date-container + .bpw-message-big-container .bpw-bubble-session_reset {
    margin-top: 0 !important;
  }

  .bpw-new-messages-indicator {
    position: absolute;
    width: 100%;
    background: whitesmoke;
    height: 40px;
    display: flex;
    flex-grow: 1;
    margin-left: -8px;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: #106ba3;
    cursor: pointer;
  }

  /**
  * Chat Bubble configuration. You can add other classes to match different renderers,
  *  for example .bpw-bubble-text or .bpw-bubble-carousel
  */
  .bpw-chat-bubble {
    color: rgb(255, 255, 255);

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    white-space: pre-wrap;
    word-break: break-word;
  }

  .bpw-message-feedback {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .bpw-message-feedback button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
  }

  .bpw-message-feedback i {
    cursor: pointer;
    height: 16px;

    margin: 0 4px;
    fill: #b3b3b3;
  }

  .bpw-message-feedback i:hover {
    fill: black;
  }

  .bpw-message-feedback > div {
    border-radius: 21px;
    border: 1px solid #f1f1f1;
    margin-top: -8px;
    margin-right: -10px;
    background-color: white;
    padding: 8px;

    display: flex;
    justify-content: space-evenly;
  }

  .bpw-bubble-carousel {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 10px 0;
    text-align: left;
    width: 230px; /* Magic number so that it fits properly in the emulator */
  }

  .bpw-bubble-file {
    padding: 0;
  }
  .bpw-bubble-file p {
    padding: 0.5rem 0.75rem;
  }

  .bpw-bubble-file a,
  .bpw-bubble-image a {
    cursor: pointer;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .bpw-bubble-image a img,
  .bpw-bubble-audio audio,
  .bpw-bubble-video video {
    max-width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .bpw-chat-bubble p {
    margin: 0;
  }

  .bpw-chat-bubble:first-of-type {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .bpw-chat-bubble:last-of-type {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .bpw-keyboard-quick_reply {
    overflow-y: auto;
    background-color: var(--bg);
    padding: var(--spacing-large) var(--spacing-medium);
    text-align: left;
    border-radius: 3px;
    margin: var(--spacing-large);
    margin-bottom: 0;
  }

  .bpw-in-message-quick_reply {
    padding-top: 10px;
  }

  .bpw-in-message-quick_reply > button {
    margin: 2px;
  }

  .bpw-quick_reply-buttons-container {
    width: 100%;
    white-space: nowrap;
  }

  /* CAROUSEL  */
  .slick-arrow {
    background-color: #fff !important;
    border: 1px solid #dddfe2;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    box-shadow: none;
    color: #444;
    z-index: 1;
  }
  .slick-arrow:before {
    color: #444;
  }

  .slick-track {
    margin: 0px;
  }

  .bpw-card-container {
    margin-right: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    line-height: 1.28em;

    margin-right: 10px;
    min-height: 150px;
    max-height: 410px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
  }

  .bpw-card-header {
    padding: 6px 12px 12px 12px;
  }

  .bpw-card-title {
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: bold;
    line-height: 1.28em;
    max-height: 40px;
    overflow: hidden;
  }

  .bpw-card-subtitle {
    color: rgba(0, 0, 0, 0.4);
  }

  .bpw-card-buttons {
    /** The container of buttons*/
  }

  .bpw-card-action {
    font-weight: 500;
    padding: 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    cursor: pointer;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
  }

  /* Comment this element to hide the icon indicating an external website */
  .bpw-card-external-icon {
    background: url(/assets/modules/channel-web/images/external_icon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100% 100%;
  }

  .bpw-card-picture {
    background-position: 50% 50%;
    background-size: cover;
    height: 150px;
    width: 100%;
  }

  /* Custom styling for the login form*/
  .bpw-form-container {
  }
  .bpw-form-container label {
    display: block;
  }

  /* Highlight special actions, for example displaying the status after using a custom component */
  .bpw-special-action {
    opacity: 0.6;
  }

  /* Conversation List */
  .bpw-convo-list {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .bpw-convo-add-btn {
    background: transparent;
    border: 2px solid;
    border-radius: 50%;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
  }
  .bpw-convo-add-btn:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
  .bpw-convo-item {
    padding-left: 15px;
    height: 4.7rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bpw-convo-item:hover {
    background-color: #fafafa;
  }

  .bpw-convo-item .bpw-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .bpw-convo-item .bpw-align-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bpw-convo-item .bpw-convo-preview {
    font-size: 0.875rem;
    color: #9a9a9a;
    max-width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .bpw-convo-item .bpw-date {
    text-align: right;
    font-size: 0.875rem;
    color: #9a9a9a;
    position: absolute;
    right: 0;
  }
  .bpw-keyboard-quick_reply-dropdown {
    margin: 0.2rem 0.5rem;
  }

  .bpw-composer {
    position: relative;
    outline: none;
    padding: var(--spacing-x-large) var(--spacing-large) var(--spacing-x-large) var(--spacing-large);
  }

  .bpw-send-button:disabled {
    opacity: 0.4;
    cursor: default;
  }

  .bpw-composer-inner {
    line-height: 0;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bpw-composer-textarea {
    flex-grow: 2;
  }

  .bpw-composer textarea {
    background: var(--white);
    border-radius: 10px;
    border: solid 1px var(--seashell);
    color: var(--shark);
    font-family: inherit;
    font-size: 12px;
    height: 43px;
    line-height: 1.15;
    padding: 10px var(--spacing-medium);
    resize: none;
    transition: border 0.3s;
    width: 100%;
  }

  .bpw-composer.rtl .bpw-composer-inner textarea {
    direction: rtl;
  }

  .bpw-composer.ltr .bpw-composer-inner textarea {
    direction: ltr;
  }

  .bpw-send-button:not(:disabled):hover path,
  .bpw-send-button:not(:disabled):focus path {
    fill: var(--ocean);
  }

  .bpw-composer textarea:focus {
    border-color: var(--ocean);
  }

  .bpw-powered {
    text-align: right;
    border-top: 1px solid #aaaaaa;
    padding: 2px 5px 2px 0;
  }

  .bpw-send-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .bpw-send-button {
    border: none;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .bpw-send-button path {
    fill: var(--shark);
    transition: fill 0.3s;
  }

  .bpw-send-button:not(:disabled):hover path,
  .bpw-send-button:not(:disabled):focus path {
    fill: var(--ocean);
  }

  .bpw-voice-recorder {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /** HEADER STUFF */

  .bpw-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 52px;
    font-weight: 500;
    border-top: solid 1px var(--gray);
    border-bottom: 1px solid var(--gray);
    padding: 0 1rem;
    overflow: hidden;
  }

  .bpw-header-title-flexbox {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .bpw-header-title-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bpw-header-title {
    padding-left: 10px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bpw-header-subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    font-weight: 500;
    color: #9a9a9a;
    vertical-align: middle;
    margin-top: 0px;
  }

  .bpw-header-unread {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    vertical-align: top;
    border-radius: 50%;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    background-color: #ff5d5d;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .bpw-header-icon {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: var(--shark);
    line-height: 0;
    margin-left: var(--spacing-large);
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
    fill: var(--shark);
    width: 16px;
    height: 16px;
    transition: fill 0.3s;
  }

  .bpw-header-icon svg,
  .bpw-header-icon svg path {
    fill: var(--shark);
    transition: fill 0.3s;
  }

  .bpw-header-icon:hover,
  .bpw-header-icon:hover svg,
  .bpw-header-icon:hover svg path {
    fill: var(--reef);
  }

  .bpw-floating-button {
    float: right;
    fill: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
    width: 52px;
    height: 52px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;

    padding: 0;
    border: none;
    background-clip: padding-box;

    transition: width 1s, height 1s;
  }

  .bpw-floating-button i {
    transition: opacity 0.3s ease;
    opacity: 1;
    fill: inherit;
    stroke: inherit;
    width: 100%;
    padding: 0;
    line-height: 0;
  }

  .bpw-floating-button .bpw-floating-button-unread {
    display: block;
    position: absolute;
    right: 2px;
    bottom: 54px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;

    color: #fff;
    background-color: #ff5d5d;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  }

  /** BOT INFORMATION PAGE - START */
  .bpw-botinfo-summary {
    margin-top: -32px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 5px -5px var(--gray);
    text-align: center;
  }

  .bpw-botinfo-summary .bpw-bot-avatar.default {
    margin: 0 auto var(--spacing-medium);
  }

  .bpw-botinfo-container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    overflow-y: auto;
    height: 100%;
  }

  .bpw-botinfo-cover-picture-wrapper {
    height: 50%;
    overflow: hidden;
  }

  .bpw-botinfo-cover-picture {
    width: 100%;
    object-fit: cover;
  }

  .bpw-botinfo-container button,
  .bpw-botinfo-container a {
    font-size: 0.9em;
    color: rgb(102, 102, 102);
    text-decoration: none;
  }

  .bpw-botinfo-description {
    margin-top: 0.4em;
    margin-bottom: 1em;
  }

  .bpw-botinfo-summary h3 {
    margin: 0;
  }

  .bpw-botinfo-links {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }

  .bpw-botinfo-link {
    padding-left: 25%;
    display: flex;
    margin: 20px 0;
  }

  .bpw-botinfo-link i {
    margin-right: 10px;
  }

  .bpw-botinfo-preferred-language {
    margin: 20px 0;
  }

  .bpw-botinfo-preferred-language select {
    margin-left: 10px;
  }

  .bpw-botinfo-terms {
    padding: 0px 20px;
    text-align: left;
  }

  .bpw-botinfo-terms a {
    display: inline-block;
    width: 100%;
    line-height: 2.5;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }

  .bpw-botinfo-start-button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    line-height: 24px;
    padding: 5px 10px;
    margin-top: 25px;
    border: 1px solid rgb(100, 100, 100);
  }

  .bpw-botinfo-start-button:focus {
    border: 1px solid black;
    color: black;
  }

  /** BOT INFORMATION PAGE - END */

  /** TYPING ANIMATIIONS */
  @keyframes typingAnimation {
    0% {
      transform: translateY(0px);
    }
    28% {
      transform: translateY(-6px);
    }
    44% {
      transform: translateY(0px);
    }
  }

  .bpw-typing-group {
    align-items: center;
    display: flex;
    height: 17px;
  }

  .bpw-typing-bubble {
    animation: typingAnimation 1s infinite ease-in-out;
    border-radius: 50%;
    height: 6px;
    margin-right: 4px;
    vertical-align: middle;
    width: 6px;
    white-space: pre-wrap;
    font-size: 16px;
    direction: ltr;
    background-color: #000000;
  }

  .bpw-typing-bubble:nth-child(1) {
    animation-delay: 200ms;
  }
  .bpw-typing-bubble:nth-child(2) {
    animation-delay: 300ms;
  }
  .bpw-typing-bubble:nth-child(3) {
    animation-delay: 400ms;
  }

  /* IE10+ CSS styles go here */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bpw-typing-bubble {
      animation: none;
    }
  }

  /**ANIMATIONS */

  .bpw-anim-fadeIn {
    animation-name: slideInRight;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }

  .bpw-anim-none {
    visibility: visible;
  }

  @keyframes slideInRight {
    0% {
      visibility: visible;
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .bpw-anim-fadeOut {
    animation-name: slideOutRight;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }

  @-webkit-keyframes slideOutRight {
    0% {
      transform: translateX(0);
      visibility: visible;
    }
    100% {
      visibility: hidden;
      transform: translateX(100%);
    }
  }

  @keyframes slideOutRight {
    0% {
      transform: translateX(0);
      visibility: visible;
    }
    100% {
      visibility: hidden;
      transform: translateX(100%);
    }
  }

  .bpw-mobx-tools {
    visibility: hidden;
  }

  /* Emulator specific stuff */
  .bpw-emulator-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-large);
    position: relative;
  }

  .bpw-emulator-header .more-options-btn {
    cursor: pointer;
    right: 16px;
    top: 6px;
  }

  .bpw-emulator-buttons {
    margin-right: 40px;
  }

  .bpw-emulator-header .more-options-more-menu {
    right: 4px;
    top: 24px;
  }

  .bpw-emulator-header-tab {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.25;
    color: var(--shark);
    border-top: 2px solid var(--ocean);
    padding: var(--spacing-medium) 0;
    text-transform: uppercase;
  }
}

.bpw-emulator-header-tab + div {
  line-height: 0;
}

.bpw-emulator .bpw-chat-quick_reply-dropdown {
  margin-top: 5px;
  zoom: 0.8; /* This feature is non-standard */
}

.bpw-rtl .bpw-composer textarea {
  direction: rtl;
}

.bpw-rtl .bpw-send-button {
  border: none;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.bpw-rtl.bpw-botinfo-container .bpw-botinfo-terms {
  text-align: right;
}

.bpw-rtl .bpw-date-container {
  direction: rtl;
}

.bpw-rtl .bpw-card-container {
  text-align: right;
  direction: rtl;
}

.bpw-rtl .bpw-keyboard-quick_reply-dropdown {
  direction: rtl;
}

.bpw-chat-bubble-content .rtl {
  direction: rtl;
}

.bpw-msg-hovering:hover {
  cursor: pointer;
}
