.process-indicator {
  margin-top: 15px;
  display: flex;
  position: relative;
  float: right;
  color: #58d1b0;
}

.process-indicator_start {
  animation: show 1s ease-in;
}

.process-indicator_complete {
  opacity: 0;
  transition: 2s ease-in;
}

.process-indicator__error {
  color: #d9534f;
}

.process-indicator__message {
  color: #aaa;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
}

.lds-ellipsis__point {
  position: absolute;
  top: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #58d1b0;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis__point:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis__point:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis__point:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis__point:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}
