.mainContainer {
  :global(.container) {
    width: 100%;
    overflow: hidden;
  }
}

.column {
  padding: 0;
  min-width: 320px;
}
.profile {
  background-color: white;
  padding: 0px;
}

.feedbackItem {
  border: 1px solid red;
}

.messageGroup-flagged {
  border: 1px solid red;
}
