.mainContainer {
  :global(.container) {
    width: 100%;
    overflow: hidden;
  }
}

.column {
  padding: 0;
  min-width: 320px;
}

.profile {
  background-color: white;
  padding: 0px;
}

.feedbackItem {
  margin: 10px;
  padding: 20px;
}

.feedbackItem.current {
  border: 6px solid #99fbcd;
  padding: 14px;
}

.feedbackItem:hover {
  cursor: pointer;
}

.feedbackItemsContainer {
  overflow-y: scroll;
}

.messageGroup-flagged {
  border: 1px solid red;
}
