@import '../../../../palette.scss';

.triggerConditionItemWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 15px;

  &:not(.last) {
    border-bottom: 1px solid $content-color-lighter;
  }

  p {
    margin: 0;
  }
}

.triggerConditionsWrapper {
  background: $light-background;
  border: 1px solid $content-color-lighter;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 3px;
}

.triggerWrapper {
  margin-bottom: 25px;
}
