.editorContainer {
  display: flex;
  padding: 10px;

  .controls {
    display: block;
    width: 5%;
    text-align: center;
  }

  .action {
    cursor: pointer;
    margin-top: 7px;
    display: none;
  }

  &.focus {
    background-color: #eee;
    outline: none;
  }

  &:hover {
    .action {
      display: block;
    }
  }

  .editor {
    background-color: white;
    width: 95%;
    border: 1px solid #ececec;
    font-size: 16px;
    padding: 5px;
    display: block;

    &:hover {
      border: 1px solid #cbcbcb;
    }
  }

  .entity-label {
    cursor: pointer;
  }
}
