.toolbar {
  display: flex;
  justify-content: space-between;

  .left {
    margin-right: auto;
  }

  .right {
    margin-right: 0px;
    display: flex;
  }
}

.row {
  display: flex;
}

.col {
  flex: 50%;
}

.graphToolTip {
  font-size: 80%;
  border: 2px solid #e1e4e8;
  box-shadow: 3px 3px #e1e4e8;
  border-radius: 3px 3px 3px 3px;
  padding: 10px;
  background: #ffffff;

  td {
    padding-left: 10px;
  }

  th {
    padding-left: 10px;
  }
}

.monitoringOverview {
  font-size: 70%;
  margin-bottom: 25px;
  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }
}

.logInfo {
  color: #0d8050;
}

.logCritical {
  color: #ac3e31;
  font-weight: bold;
}

.link {
  color: var(--blue) !important;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
