@import '../../palette.scss';

@keyframes rays {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root {
  h4 {
    font-size: 20px;
  }
}

.username {
  color: $primary_color;
  font-weight: 500;
}

.heroContainer {
  position: relative;
}

.heroInfo {
  position: absolute;
  display: inline;
  top: 10px;
  right: 10px;
  z-index: 5;
  color: #bee6db;
  font-size: 12px;
}

.contribution {
  position: relative;
  height: 255px;
  text-align: center;
  overflow: hidden;

  :global(.panel-body) {
    padding: 0;
    height: 100%;
  }

  .raysAnim {
    height: 400%;
    width: 250%;
    margin-top: -25%;
    margin-left: -75%;
    transform-origin: center center;
    animation: rays 60s infinite linear;

    .rays {
      height: 100%;
      background: url(/img/rays.png) no-repeat;
      background-size: cover;
      opacity: 0.05;
    }
  }

  .contributionContent {
    width: 100%;
    text-align: center;
    line-height: 25px;
    position: absolute;
    padding: 15px;
    top: 50%;
    transform: translateY(-50%);

    img {
      background-color: lightgrey;
      height: 70px;
      width: 70px;
      margin-bottom: 30px;
      border-radius: 5px;
    }

    strong {
      font-weight: bolder;
    }

    p {
      margin: 0;
    }
  }
}
