.inspector {
  background-color: #fcfcfc;
  padding: 5px;

  &.sideForm {
    padding: 30px 25px;
  }

  &:not(.sideForm) {
    h4 {
      padding-top: 10px;
      padding-left: 10px;
    }

    :global(ul[role='tablist'].nav > li > a) {
      padding: 11px 8px;
      font-size: 12px;
    }

    :global(.tab-content) {
      padding: 10px 10px;
    }
  }
}

.noLineHeight {
  line-height: 0;
}

.closeIcon {
  z-index: 10;
  top: 40px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}
