.node :global(.panel-heading) {
  text-transform: none;
  padding: 10px 5px;

  :global(.panel-title) {
    font-weight: 500;
    font-size: 13px;
  }
}

.item {
  padding: 5px 0;

  .remove {
    display: none;

    a {
      cursor: pointer;
    }
  }

  &:hover {
    background: #fefefe;
    border-left: 2px solid #999;
    padding-left: 10px;

    .remove {
      padding: 10px 0;
      display: block;
    }
  }
}

.item + .item {
  border-top: 1px solid #f9f9f9;
}

.node .name {
  color: #333;
  font-weight: 500;
  margin-top: 3px;
  background: none;
  width: 100% !important;
  margin-bottom: 10px;
  border: 1px dashed #999;
}

.addAction {
  width: 100%;
}

.actions {
  margin-top: 10px;
  width: 100%;

  button {
    border-radius: 3px;
  }
}
