.container {
  background: #fff;
  padding: 10px;
  height: 100%;
}

.result {
  margin: 10px 0;
}

.libInfo {
  margin-top: 20px;
}

.title {
  font-weight: 700;
  margin-bottom: 20px;
}

.beta {
  height: 20px;
  background-color: lightcoral;
  text-align: center;
}
