.hint {
  color: #738694;
}

.editor-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.utterances {
  flex: 1;
  min-width: 300px;
}

.entities-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

p.utterance {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  z-index: 0;
  display: flex;

  &.title {
    font-weight: bold;
    font-size: 18px;
  }
  &.active {
    background-color: #eee;
  }
  &.wrong {
    color: red;
  }

  .index {
    width: 20px;
    margin-right: 5px;
    opacity: 0.5;
    text-align: center;

    &.count {
      width: inherit;
      background: lightgrey;
      padding: 0 5px;
      border-radius: 5px;
    }
  }
}

.slotMenu {
  position: absolute;
  z-index: 500;
  background-color: #fefefe;
  padding: 10px;
  max-width: 200px;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  p:first-child {
    font-weight: bold;
  }
}

.slotMenuItem {
  margin: 0 5px 5px 0;
}

.slotMark {
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}

/* ---------- */
/* SLOTS COLORING (taken from slot clors) */
/* ---------- */

.label-colors-0 {
  background-color: rgb(110, 96, 160);
  color: white;

  &:hover {
    background-color: rgb(104, 97, 129);
  }
}

.label-colors-1 {
  background-color: #6699cc;
  color: white;

  &:hover {
    background-color: darken(#6699cc, 10%);
  }
}

.label-colors-2 {
  background-color: #ff3c38;
  color: white;

  &:hover {
    background-color: darken(#ff3c38, 10%);
  }
}

.label-colors-3 {
  background-color: #fff275;
  color: black;

  &:hover {
    background-color: darken(#fff275, 10%);
  }
}

.label-colors-4 {
  background-color: teal;
  color: white;

  &:hover {
    background-color: #009d9d;
  }
}

.label-colors-6 {
  background-color: #ff8c42;
  color: white;

  &:hover {
    background-color: darken(#ff8c42, 10%);
  }
}

.label-colors-7 {
  background-color: #a23e48;
  color: white;

  &:hover {
    background-color: darken(#a23e48, 10%);
  }
}

.label-colors-8 {
  background-color: rgb(185, 97, 126);
  color: white;

  &:hover {
    background-color: rgb(170, 87, 115);
  }
}

.label-colors-9 {
  background-color: rgb(211, 162, 72);
  color: white;

  &:hover {
    background-color: rgb(168, 126, 47);
  }
}

.label-colors-10 {
  background-color: #86bbd8;
  color: black;

  &:hover {
    background-color: darken(#86bbd8, 10%);
  }
}
