.hint {
  color: #738694;
  span {
    margin-left: 10px;
  }
}

.editor-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.utterances {
  flex: 1;
  min-width: 300px;
}

.entities-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

p.utterance {
  margin: 0;
  font-size: 16px;
  z-index: 0;
}

p.utterance.title {
  font-weight: bold;
  font-size: 18px;
}

p.utterance.title + p.utterance {
  margin-top: 5px;
}

p.utterance + p.utterance {
  margin-top: 5px;
}

p.utterance.active {
  background: yellow;
}

p.utterance.wrong {
  color: red;
}

p.utterance .index {
  margin-right: 5px;
  opacity: 0.5;
}

p.utterance .index.count {
  background: lightgrey;
  padding: 0 5px;
  border-radius: 5px;
}

.slotMenu {
  position: absolute;
  z-index: 500;
  background-color: whitesmoke;
  padding: 10px 5px;
  max-width: 200px;
  border: solid 1px;
}

.slotMenuItem {
  margin-right: 2px;
}

.slotMark {
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 2px;
  &:hover {
    font-weight: bold;
  }
}

/* ---------- */
/* SLOTS COLORING (taken from slot clors) */
/* ---------- */

.label-colors-0 {
  background-color: rgb(110, 96, 160);
  color: white;

  &:hover {
    background-color: rgb(104, 97, 129);
  }
}

.label-colors-1 {
  background-color: blue;
  color: white;

  &:hover {
    background-color: #0559ff;
  }
}

.label-colors-2 {
  background-color: red;
  color: white;

  &:hover {
    background-color: #ff3653;
  }
}

.label-colors-3 {
  background-color: yellow;
  color: black;

  &:hover {
    background-color: #f7f53a;
  }
}

.label-colors-4 {
  background-color: green;
  color: white;

  &:hover {
    background-color: #0a9c12;
  }
}

.label-colors-5 {
  background-color: teal;
  color: white;

  &:hover {
    background-color: #009d9d;
  }
}

.label-colors-6 {
  background-color: #fd02ff;
  color: white;

  &:hover {
    background-color: #dd3dff;
  }
}

.label-colors-7 {
  background-color: #ff00aa;
  color: white;

  &:hover {
    background-color: #ff32a8;
  }
}

.label-colors-8 {
  background-color: orange;
  color: white;

  &:hover {
    background-color: #ff6b2f;
  }
}

.label-colors-9 {
  background-color: rgb(114, 170, 170);
  color: white;

  &:hover {
    background-color: rgb(74, 102, 102);
  }
}

.label-colors-10 {
  background-color: rgb(185, 97, 126);
  color: white;

  &:hover {
    background-color: rgb(170, 87, 115);
  }
}

.label-colors-11 {
  background-color: rgb(211, 162, 72);
  color: white;

  &:hover {
    background-color: rgb(168, 126, 47);
  }
}
