$button-box-shadow: unset;
$button-box-shadow-active: unset;
$button-intent-box-shadow: unset;
$button-intent-box-shadow-active: unset;

$orange1: #f7400e;
$orange2: #ee5d35;
$orange3: #f66f48;
$orange4: #f7997f;
$orange5: #f5baaa;

$light-gray5: #ffffff;

$button-box-shadow-overlay: unset;
$button-box-shadow-overlay-active: unset;

$dark-button-box-shadow: unset;
$dark-button-box-shadow-active: unset;
$dark-button-intent-box-shadow: unset;
$dark-button-intent-box-shadow-active: unset;

$button-gradient: unset;
$button-intent-gradient: unset;
$dark-button-gradient: unset;

@import 'blueprint';

.#{$ns}-dialog {
  background: white;
}

.#{$ns}-button {
  background: white;
  border-radius: 5px;
}

.#{$ns}-button.#{$ns}-intent-warning {
  color: $dark-gray1;
}
