$button-box-shadow: unset;
$button-box-shadow-active: unset;
$button-intent-box-shadow: unset;
$button-intent-box-shadow-active: unset;

$orange1: #f7400e;
$orange2: #ee5d35;
$orange3: #f66f48;
$orange4: #f7997f;
$orange5: #f5baaa;

$light-gray5: #ffffff;

$button-box-shadow-overlay: unset;
$button-box-shadow-overlay-active: unset;

$dark-button-box-shadow: unset;
$dark-button-box-shadow-active: unset;
$dark-button-intent-box-shadow: unset;
$dark-button-intent-box-shadow-active: unset;

$button-gradient: unset;
$button-intent-gradient: unset;
$dark-button-gradient: unset;

@import 'blueprint';

.#{$ns}-dialog {
  background: white;
}

.#{$ns}-button {
  background: white;
  border-radius: 5px;
}

.#{$ns}-button.#{$ns}-intent-warning {
  color: $dark-gray1;
}

:root {
  --font-family: Roboto;

  // Albert variables
  // We should start using these variables from now on and phase out the rest of this file
  --white: #ffffff;
  --seashell: #f5f6f8;
  --gray: #bec5c9;
  --reef: #5c7080;
  --shark: #1a1e22;
  --overlay: rgba(26, 30, 34, 0.8);
  --say: #a4ded0;
  --lighthouse: #f66f48;
  --hover-lighthouse: #f39c82;
  --hover-lighthouse-30: #f9ddd5;
  --ocean: #3276ea;
  --hover-ocean: #cad7f5;

  --spacing-x-small: 2px;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 12px;
  --spacing-x-large: 16px;
}
