.container {
  margin: 0 24px;
}

.configUploadSuccess {
  color: green;
}

.avatarPreview {
  display: block;
  max-height: 75px;
}

.coverPreview {
  display: block;
  max-height: 200px;
}

.textarea {
  width: 100%;
}

.callout {
  margin-top: 24px;
}
