$elementHeight: 40px;

.elementTitle {
  margin: 10px 0 10px 0;
  font-size: 15px;
  font-weight: 400;
}

.elementBody {
  display: flex;
  height: $elementHeight;

  &:hover {
    .elementRemove {
      display: inherit;
    }
  }
}

.elementRemove {
  padding-left: 10px;
  display: none;
  height: $elementHeight;
  width: $elementHeight;
}
