@import '../../palette.scss';

.modulePanel {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #efefef;
  position: relative;

  & > div {
    padding: 15px 10px;
  }
}

a {
  color: $content-color-light;
}

.moduleTitle {
  color: $content-color-primary-title;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 20px;

  i {
    vertical-align: bottom;
    padding-right: 10px;
  }
}

.moduleDescription {
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.moduleAuthor {
  margin-bottom: 2px;
}

.moduleLicense {
  color: lightgray;
  font-size: small;
  margin-bottom: 0px;
}

.moduleRightSide {
  position: inherit;
}

.moduleIcons {
  text-align: right;
  font-size: 16px;
  i {
    color: gray;
    vertical-align: top;
    font-size: 20px;
    padding-right: 5px;
  }
}

.moduleButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 15px;
  margin-right: 15px;

  button.uninstall {
    background-color: #b1b1b1;

    &:hover {
      background-color: #a5a5a5;
    }
  }
}

.customIcon {
  width: 28px;
  height: 18px;
  padding-right: 10px;
}
