{
  "presets": [
    "latest",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "ignore": [
    "cli/templates/**",
    "src/web/**"
  ],
  "env": {
    "tests": {
      "plugins": [
        "transform-object-rest-spread",
        [
          "babel-plugin-root-import",
          [
            {
              "rootPathPrefix": "~",
              "rootPathSuffix": "./src"
            },
            {
              "rootPathPrefix": "#",
              "rootPathSuffix": "."
            },
            {
              "rootPathPrefix": "+",
              "rootPathSuffix": "./extensions/enterprise/pro"
            }
          ]
        ]
      ]
    }
  }
}
