{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "semi": ["warn", "never"],
    "keyword-spacing": "warn",
    "space-before-blocks": [ "warn", "always" ],
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "no-unused-vars": "warn"
  }
}
