[submodule "src/bp/pro"]
	path = src/bp/pro
	url = git@github.com:botpress/botpress-pro.git
[submodule "src/bp/ml/crfsuite"]
	path = src/bp/ml/crfsuite
	url = https://github.com/botpress/node-crfsuite.git
[submodule "src/bp/ml/fasttext"]
	path = src/bp/ml/fasttext
	url = https://github.com/botpress/node-fasttext.git