# Global
* @botpress/cloud-services

# Scripts
/scripts @franklevasseur

# Client, SDK, CLI
/packages @franklevasseur 

# Bots
/packages/bots @franklevasseur 

# Integrations
/integrations/gmail @michaelmass 
/integrations/gsheets @franklevasseur 
/integrations/notion @lakshya0246 
/integrations/teams @franklevasseur 
/integrations/whatsapp @AbrahamLopez10 
/integrations/zapier @AbrahamLopez10 
/integrations/zendesk @davidvitora 

