.panel-center {
  width: 320px;
  height: 275px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.panel-center.panel-center-tall {
  height: 310px;
}

.panel-center :global(.panel-body) {
  position: relative;
}

.panel-center .header {
  border-bottom: 1px solid #e4eaec;
}

.error {
  text-align: center;
  color: #e84a4a;
  font-weight: 600;
}

.success {
  color: #37e85e;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  img {
    width: 150px;
  }

  text-align: center;
  margin-bottom: 30px;
}

.body {
  background-color: #e4eaec;
}

.cloudContainer {
  text-align: center;

  :global(.btn) {
    background: black;
    color: white;
    border: none;
    border-radius: 0;
  }
}

.cloudButton {
  background: black;
  border: none;
  color: white;
  border-radius: 0;
}
