.emulator {
  background-color: white;
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  right: 200px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #46cba0;
  border-bottom: none;

  .header {
    width: 100%;
    height: 40px;
    background-color: #46cba0;
    padding: 0 15px;
    color: white;
    position: relative;
    cursor: pointer;

    &:hover {
      &,
      .left {
        background-color: #47d3a9;
      }
    }

    .left {
      float: left;
      line-height: 40px;
      padding: 0 10px;
      z-index: 100;
      position: relative;
      background-color: #46cba0;
    }

    .right {
      position: absolute;
      right: -12px;
      top: -5px;
      z-index: 99;
      height: 40px;
    }

    .button {
      cursor: pointer;

      &:hover {
        color: #c9ffdc;
      }

      & + .button {
        margin-left: 5px;
      }

      i {
        vertical-align: middle !important;
      }
    }
  }

  .chat {
    height: calc(100% - 50px);
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch;
  }

  &.hidden .chat {
    display: none !important;
  }
}

.embedded {
  .chat {
    height: calc(100vh);
    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch;
  }
}
