.modules {
  margin-left: 12%;
  margin-right: 12%;
}

.tags {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.tag {
  margin: 5px;
  border-radius: 20px;
}

.search {
  max-width: 400px;
  margin: auto;
}
