@import '../app/common/table.scss';

.checklist {
  border: 1px solid #efefef;
  margin: 20px;

  .header {
    height: 35px;
    border-bottom: 1px solid #efefef;
    background: #fefefe;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .title {
      margin-left: 10px;
    }
  }

  .item {
    border-bottom: 1px solid #e1e4e8;
    padding: 20px;
    padding-top: 6px;
  }
}

.channels {
  padding-top: 10px;
  min-height: 335px;

  .bp3-tab:focus {
    border: none !important;
  }
}

.formChannel {
  & > div {
    & > * {
      margin: 4px 0;
    }
  }
}

.formChannelInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > label:first-of-type {
    min-width: 35%;
  }

  & > div {
    min-width: 65%;
  }
}
