.container {
  background: #fff;
  height: 100% !important;
  width: 100%;
  display: flex;
}

.padded {
  border-left: 1px solid lightgray;
  padding: 3px 8px;
  width: 100%;
}

.container :global(.bp3-tab-panel) {
  margin-top: 10px;
}

.small {
  width: 250px;
}

.tabs {
  height: 100%;

  .tab {
    height: calc(100% - 30px);
    color: 888;
    position: relative;
  }

  .divide {
    margin: 0 5px;
  }
}

.tabContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;
}

.verticalTab {
  margin-top: 5px;

  :global(.bp3-tab) {
    height: 30px !important;
    padding: 5px !important;
  }
}

.fullWidth {
  width: 100%;
}

.boxed {
  min-width: 500px;
}

:global(.rct-text) {
  font-size: 80%;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}
