@import '../../../../palette.scss';

.triggerConditionItemWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 15px;

  &:not(.last) {
    border-bottom: 1px solid $content-color-lighter;
  }

  p {
    margin: 0;
  }
}

.formHeader {
  align-items: trop;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  &.editing {
    margin-bottom: 5px;
  }

  .tip {
    font-size: 12px;
    color: $content-color-dark;
    line-height: 1;
    margin: 0 0 0 auto;
  }
}

.dialog {
  overflow: auto;
  padding-bottom: 0 !important;
}

.triggerConditionsWrapper {
  background: $light-background;
  border: 1px solid $content-color-lighter;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 3px;
}

.triggerWrapper {
  margin-bottom: 25px;
}

.inputParamWrapper {
  padding: 10px 0;
}
