@import '../../../../palette.scss';

.primaryText {
  display: block;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.secondaryText {
  color: #5C7080;
  display: block;
}

.text {
  ul {
    padding-left: 20px;
    margin: 0;
  }
}

.contentImgWrapper {
  display: flex;
  margin-bottom: 10px;
  max-height: 50px;

  .textWrapper {
    overflow: hidden;
    font-size: 12px;
    line-height: 13px;
  }
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  flex-shrink: 0;
  height: 50px;
  margin-right: 8px;
  overflow: hidden;
  width: 50px;
}
