@import '../../../../palette.scss';

.secondaryText {
  color: #5C7080;
  display: block;
}

.text {
  ul {
    padding-left: 20px;
    margin: 0;
  }
}

.contentImgWrapper {
  display: flex;
  max-height: 50px;

  .textWrapper {
    text-align: left;
    overflow: hidden;
  }
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  flex-shrink: 0;
  height: 30px;
  margin-right: var(--spacing-medium);
  overflow: hidden;
  width: 30px;
}
