.placeholder {
  :global(.bp3-button-text) {
    color: var(--reef) !important;
  }
}

.formSelect {
  display: block;
  padding: 0;
  position: relative;

  :global {
    .bp3-popover-target {
      width: 100%;
    }

    .bp3-menu-item {
      color: var(--shark);
      font-size: 12px;
      line-height: 1.4;
      min-height: 20px;
      display: flex;
      align-items: center;

      &:not(.bp3-active):hover {
        background: var(--bg) !important;
      }
    }

    .bp3-active {
      background: var(--hover-ocean) !important;
      color: var(--shark) !important;
    }

    .bp3-transition-container {
      right: 0;
    }

    .bp3-select-popover.bp3-minimal {
      width: 100%;
      &:not(.filterable) {
        margin-top: 48px !important;
      }
      &.filterable {
        //account for ugly filtering box
        .bp3-input-group:first-child {
          > span {
            //remove search icon
            display: none;
          }
          .bp3-input {
            font-weight: normal;
            font-size: 12px;
            padding: 0 10px; //restore padding
            outline: none;
            box-shadow: none;
            &:focus {
              box-shadow: none;
            }
          }
          > .bp3-input-action {
            // remove clear search button
            display: none;
          }
        }
      }
    }

    .bp3-button-text {
      color: var(--reef);
      font-size: 12px;
      line-height: 1.25;
    }

    .bp3-icon {
      color: var(--shark) !important;
    }
  }

  &,
  > * {
    cursor: pointer;
  }

  button {
    border: 1px solid var(--seashell) !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    background: #fff !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    justify-content: space-between !important;
    height: 40px !important;
    line-height: 1.25 !important;
    padding: var(--spacing-medium) var(--spacing-large) !important;
    width: 100% !important;

    &:focus,
    &:active {
      outline: 0;
      border-color: var(--ocean) !important;
    }
  }
}
