.guide-container {
  padding: 0 55px 0 15px;
}

.article {
  line-height: 1.7;

  p {
    margin-bottom: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;

    &:first-child {
      margin-top: 0;
    }

    code {
      background: none;
      color: inherit;
      font-size: 80%;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      padding: 0;
    }

    em code {
      background: $code-bg;
      color: $code-color;
    }
  }

  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  h1,
  h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid #f1f1f1;
  }

  h3 {
    color: lighten($flow-gray, 20%);
  }

  a {
    background-color: lighten($brand-primary, 48%);
    border-bottom: 1px solid lighten($brand-primary, 38%);
    color: darken($brand-primary, 20%);

    &:hover {
      background-color: lighten($brand-primary, 40%);
      border-bottom: 1px solid lighten($brand-primary, 30%);
      text-decoration: none;
    }
  }

  $fix-margin-collapse: (1px / 16px) * 1rem;

  blockquote {
    margin-bottom: 1.2rem;
    padding: (1.2rem + $fix-margin-collapse) 1.2rem $fix-margin-collapse;
    background: lighten($yellow, 25%);
    border-left: $border-radius solid $yellow;

    p code {
      background-color: $gray-lighter;
    }
  }

  > table {
    @extend .table;
  }

  .list-group-item-text {
    margin-bottom: 0;
  }

  .list-group-item-heading {
    margin-top: 0;
  }

  .version {
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;

    &.added {
      background: $flow-green;
      color: white;
    }

    &.removed {
      background: $flow-red;
      color: white;
    }
  }
}
