@charset "UTF-8";

$flow-white: white;
$flow-yellow: #dd241a;
$flow-red: darken(#e83f36, 8%);
$flow-green: #dd241a;

$yellow: #ffe564;

$brand-primary: $flow-red;

$flow-gray: #555;
$flow-gray-dark: darken($flow-gray, 20%);
$flow-gray-darker: darken($flow-gray, 25%);
$flow-gray-darkest: darken($flow-gray, 30%);

$flow-inverted-gray: rgba(white, 0.5);
$flow-inverted-gray-light: rgba(white, 0.7);
$flow-inverted-gray-lighter: rgba(white, 0.8);
$flow-inverted-gray-lightest: rgba(white, 0.9);

$navbar-dark-color: $flow-inverted-gray-light;
$navbar-dark-hover-color: $flow-inverted-gray-lighter;
$navbar-dark-active-color: $flow-inverted-gray-lightest;
$navbar-dark-disabled-color: $flow-inverted-gray;

$code-font-size: 85%;

$editor-accent: white;
$editor-accent-alt: $flow-green;

$editor-accent-bg: $flow-gray-dark;
// $editor-accent-bg: desaturate(lighten($editor-accent, 48%), 25%);

$editor-error-bg: lighten(desaturate($flow-red, 13%), 3%);

$syntax-07: mix(#fafafa, $editor-accent, 5%);
$syntax-05: mix(#d0d0d0, $editor-accent, 5%);
$syntax-04: lighten(mix(#b0b0b0, $editor-accent, 5%), 10%);
$syntax-03: lighten(mix(#505050, $editor-accent, 1%), 25%);
$syntax-01: mix(#202020, $editor-accent, 5%);
$syntax-00: mix(#000000, $editor-accent, 5%);

$syntax-08: lighten(#eb008a, 10%);
$syntax-09: lighten(#f29333, 15%);
$syntax-0A: adjust-hue(lighten(#f8ca12, 15%), -10%);
$syntax-0B: lighten(#37b349, 15%);
$syntax-0C: lighten(#00aabb, 3%);
$syntax-0D: lighten(#0e5a94, 3%);
$syntax-0E: lighten(#b31e8d, 3%);
$syntax-0F: lighten(#7a2d00, 3%);

$code-color: $syntax-08;

@import 'bootstrap/scss/bootstrap.scss';

@import '_base.scss';
@import '_cards.scss';
@import '_editor.scss';
@import '_syntax.scss';
@import '_feature.scss';
@import '_footer.scss';
@import '_article.scss';
@import '_navbar.scss';
@import '_search.scss';
@import '_toc.scss';
@import '_try.scss';
@import '_svg.scss';
