.innerWrapper {
  position: relative;

  .insertBtn {
    position: absolute;
    right: 38px;
    top: 4px;
  }

  .deleteBtn {
    position: absolute;
    right: 4px;
    top: 4px;
  }
}

.imgWrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;

  &Actions {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &:before {
    background-color: rgba(30, 30, 30, 0.5);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.fieldError {
  color: var(--lighthouse);
  font-size: 12px;
  margin-top: 8px;
}

select:global(.form-control) {
  box-shadow: none;
  height: 38px;
}

.multipleInputs {
  margin-bottom: 8px;
  position: relative;
  background: #fff;
  border: 1px solid var(--seashell);
  border-radius: 3px;
  color: var(--shark);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  padding: 8px 10px;

  :global(fieldset > .form-group:first-of-type .control-label) {
    margin-top: 0;
  }
}

:global(.form-group .checkbox label) {
  display: flex;
  align-items: center;

  :global(input) {
    margin-right: 5px;
    position: relative !important;
  }
}

.addContentBtn {
  border: 1px solid var(--seashell) !important;
  box-shadow: none !important;
  cursor: pointer;
  line-height: 1.25;
  width: 100%;

  &:focus {
    border-color: var(--ocean) !important;
  }
}

.actionDialogContent {
  padding: 10px;
}

.actionSelectItem {
  transition: background-color 0.15s ease-in-out;
  border-radius: 2px;
  padding: 3px;
  max-width: 450px;
}

.actionSelectItem:not(:last-child) {
  margin-bottom: 5px;
}

.actionSelectItem:hover {
  cursor: pointer;
  background-color: rgba(167, 182, 194, 0.3);
}

.actionSelectItem .category {
  font-weight: bold;
}

.actionSelectItem .description {
  font-size: small;
}

.actionServer {
  margin: 5px 6px 0 0;
}
