.wRightSidebar {
  padding-right: calc(var(--spacing-x-large) + var(--right-sidebar-width));
  transition: padding-right 0.3s;
}

:global(.emulator-open) {
  padding-right: calc(var(--spacing-x-large) + 480px);

  &.wRightSidebar {
    padding-right: calc(var(--spacing-x-large) + var(--right-sidebar-width) + 480px);
  }

  & + .rightSidebar {
    right: 480px;
    border-right: 1px solid var(--gray);
  }
}

.rightSidebar {
  width: var(--right-sidebar-width);
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 28px;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 0.3s, width 0.3s;

  &.show {
    transform: translateX(0);
  }
}
