.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: 100%;
  padding: 10px 15px;
}

.f1Section {
  margin-top: 50px;
}

.f1Container {
  display: flex;
  justify-content: space-between;
}
