.mainContainer {
  :global(.container) {
    width: 100%;
    overflow: hidden;
  }
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: 100%;
  padding: 10px 15px;
}

.createButton {
  margin-top: 20px;
  svg {
    margin-bottom: 0 !important;
  }
}
