@import '~@blueprintjs/core/lib/scss/variables';

.results {
  display: flex;
}

.results .span {
  margin-right: 5vw;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: 100%;
  padding: 10px 15px 75px;
  overflow-y: scroll;
}

.f1Section {
  background-color: $light-gray5;
  margin-top: 25px;
  padding: 10px;
  border-radius: 2px;
}

.f1Container {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  align-items: center;
}

.working {
  display: flex;
  align-items: center;
}

.main {
  width: 100%;
}

.inline {
  display: inline;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-left: 1px;
  padding-right: 1px;
}

table {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}
