.fetch-more {
  width: fit-content;
  margin: 0 auto;
}

.filtersCheckbox {
  margin: auto 0 auto 0;
}

.datepicker > span {
  width: 100%;
}

.datepicker > span > div > div {
  width: 50%;
}

.noConvIcon {
  margin-bottom: 3em;
}

.conversations {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.downloadCopy {
  padding-right: 5px;
  display: flex;
}

.taskBarText {
  vertical-align: middle;
  line-height: 30px;
}

.message {
  &-viewer {
    height: 100%;
    overflow: hidden;
    background-color: #fff;
  }

  &-sender {
    color: #37373f;
    font-weight: 900;
  }

  &-group {
    margin-bottom: 4%;
    width: 42%;
    margin-left: 3%;

    &-header {
      display: flex;
      background-color: #efefef;
      padding: 0 1%;
    }

    &-explanation {
      display: flex;
      width: min-content;
    }

    &-confidence {
      font-weight: bold;
      white-space: nowrap;
    }

    &-decision {
      padding-left: 3%;
      white-space: nowrap;
    }

    &-flag {
      margin-left: auto;
      display: flex;
    }
  }

  &-title {
    color: #2c2c2c;
    font-size: 1.6em;
  }

  &-lastdate {
    color: #a1a1a1;
    font-size: 1em;
    padding: 0.5%;
    padding-bottom: 1.5%;
    white-space: nowrap;
  }

  &-list {
    overflow-y: auto;
    word-wrap: break-word;
    padding: 3%;

    &-full {
      height: 100%;
    }

    &-partial {
      height: 50%;
    }
  }

  &-inspect {
    cursor: pointer;
    color: #233abc;
    font-size: 1em;
  }

  &-inspector {
    height: 50%;
    background-color: #1e1e1e;
    overflow-y: auto;
    padding: 0.5%;
    position: relative;

    &-hidden {
      visibility: hidden;
    }
  }

  &-elements {
    padding: 0.2%;
    font-size: 1.4em;
    padding-left: 2.5%;
  }

  &-outgoing {
    color: #a1a1a1;
  }

  &-incomming {
    color: #a1a1a1;
  }
}

.quit-inspector {
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
  color: #434343;
}
