.markAsReadButton {
  top: 22px;
  right: 12px;
}

.item {
  padding-top: 4px;
  width: 400px;
  border-left: 4px solid #e2e2e2;
}

.item-unread.level-info {
  background-color: #f6f8ff;
  border-left: 4px solid #aeccee;
}

.item-unread.level-error {
  background-color: #fff7f6;
  border-left: 4px solid #eeb2ae;
}

.item-unread.level-success {
  background-color: #f6fff7;
  border-left: 4px solid #aeeeb6;
}

.topMenu {
  padding: 10px 12px;
  border-bottom: 1px solid #d1d1d1;
  color: #5f5f5f;
  font-size: 13px;
}

.dropdown {
  padding: 0;

  &:global(.open) > a {
    background-color: #f1f1f1 !important;
  }
}

.message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.empty {
  width: 400px;
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.invisible {
  opacity: 0;
}

.icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
