.moreInfo {
  color: var(--shark);
  display: block;
  font-size: 8px;
  line-height: 1.25;
  margin-left: 26px;
}

a.moreInfo {
  color: var(--ocean);
  transition: color 0.3s;

  &:hover, &:focus, &:active {
    color: var(--hover-ocean);
    text-decoration: none;
  }
}

.checkboxWrapper {
  margin-bottom: var(--spacing-medium);
  min-height: 16px;
}
