.content {
  flex-grow: 1;
  margin-top: var(--spacing-xxx-large);

  &.empty {
    display: flex;
  }
}

.questionWrapper {
  background: #fff;
  border-radius: 5px;
  margin-bottom: var(--spacing-large);
  width: 100%;

  .collapsibleWrapper {
    display: grid;
    grid-column-gap: var(--spacing-xx-large);
    grid-template-columns: 1fr 1fr;
    margin-top: var(--spacing-large);
    padding: 0 var(--spacing-x-large) var(--spacing-x-large);
  }

  .items {
    line-height: 0;
  }

  .addBtn {
    color: var(--ocean);
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-top: var(--spacing-medium);
    transition: background 0.3s;

    svg {
      fill: var(--ocean);
    }

    &:hover, &:focus {
      color: var(--ocean);
      background:  var(--hover-ocean);
    }
  }

  .headerWrapper {
    position: relative;

    :global(.more-options-btn) {
      right: var(--spacing-x-large);
      top: 50%;
      transform: translate(0, -50%);
    }

    :global(.more-options-more-menu) {
      right: var(--spacing-small);
      top: 50%;
      margin-top: 20px;
    }
  }

  .questionHeader {
    justify-content: flex-start;
    padding: var(--spacing-x-large) 50px var(--spacing-x-large) var(--spacing-x-large);
    width: 100%;

    &:hover {
      background: #fff;
    }

    :global(.bp3-button-text) {
      display: flex;
      width: 100%;
    }

    .left {
      align-items: center;
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      padding-right: var(--spacing-xxxx-large);

      h1 {
        color: var(--shark);
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        margin: 0 0 0 var(--spacing-medium);
        overflow: hidden;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    .tag {
      background: var(--seashell);
      border-radius: 3px;
      color: var(--shark);
      display: inline-block;
      font-size: 8px;
      height: 20px;
      line-height: 20px;
      padding: 1px 6px 0;
      text-transform: uppercase;
    }

    .right {
      align-items: center;
      display: flex;
      flex-grow: 0;
      flex-shrink: 1;
      position: relative;
    }
  }

  h2 {
    font-size: 12px;
    line-height: 1.25;
    color: var(--shark);
    margin: 0 0 var(--spacing-medium);
  }

  .textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--shark);
    font-size: 12px;
    height: 39px;
    line-height: 1.25;
    margin: -1px 0 0;
    padding: 2%;
    padding-left: 0;
    resize: none;
    transition: border 0.3s;
    width: 98%;

    &:focus {
      border-top-color: var(--ocean);
      border-bottom-color: var(--ocean);

      & + .textarea {
        border-top-color: transparent;
      }
    }
  }
}
