$elementHeight: 40px;

.elementTitle {
  margin: 10px 0 10px 0;
  font-size: 15px;
  font-weight: 400;
}

.elementBody {
  display: flex;
  height: $elementHeight;

  &:hover {
    .elementRemove {
      display: inherit;
    }
  }
}

.hint {
  color: #738694;
  span {
    margin-left: 10px;
  }
}

.elementRemove {
  padding-left: 10px;
  display: none;
  height: $elementHeight;
  width: $elementHeight;
}

.addVariationBtn {
  display: block;
}

.qnaInvalidAnswer {
  border-color: red;
}

.qna {
  h4 {
    margin-top: 0;
    font-weight: bold;
  }

  :global(.panel-heading) {
    padding: 5px 10px;

    :global(.btn) {
      padding: 0;
      font-size: 12px;
      margin-left: 10px;
      margin-top: -6px;
      margin-bottom: -3px;
    }
  }

  :global(.panel-body) {
    padding: 10px;
  }
}

.paddedRow {
  padding-bottom: 10px;
}

.questionToolbar {
  :global(.btn) {
    float: right;
  }
}

.pale {
  opacity: 0.8;
}

.strong {
  &,
  & *,
  label {
    font-weight: bold;
  }
}

.qnaContainer {
  padding: 0;
  height: 100%;
  overflow-y: auto;
  margin: 0;
}

.qnaNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.qnaHeader {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px;
}

.headerBtns {
  display: flex;
  align-items: flex-start;

  button {
    margin-left: 5px;
  }
}

.searchBar {
  float: left;
  display: flex;
  margin-bottom: 0;
  margin-bottom: 20px;
}

.searchBarLite {
  display: flex;
  justify-content: space-between;
}

.searchField {
  height: 38px;
  width: 200px;
}

.questionTable {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 3px;
  display: table;
  width: 100%;
}

.questionTableRow {
  display: table-row;
  transition: background 0.3s;

  &:not(.header) {
    cursor: pointer;
  }

  &:hover {
    background: #f5f5f5;
  }

  &.header .questionTableCell {
    background: #f5f5f5;
    border-top: 1px solid #e3e3e3;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &.last .questionTableCell {
    border-bottom: none;
  }
}

.redirectTooltip {
  margin-left: 5px;
}

.questionTableCell {
  border-bottom: 1px solid #e3e3e3;
  color: var(--c-text);
  display: table-cell;
  padding: 5px 10px;
  vertical-align: middle;

  &:not(.actions):not(.question) {
    border-left: 1px solid #e3e3e3;
  }

  &.actions {
    width: 115px;
  }

  &.question {
    width: 30%;
  }
}

.categoryFilter {
  width: 300px;
  margin: 0 15px 0 15px;
  font-weight: 500;
  z-index: 4;

  input {
    height: 25px;
  }

  .dropdown-button {
    border-left: none;
  }
}

.qnaNavBarAddNew {
  margin-left: 10px;
  width: 100px;
  height: 34px;
}

.itemQuestions {
  display: flex;
}

.qnaItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px;
  align-items: center;
  min-height: 70px;
}

.itemContainer {
  align-items: center;
  display: flex;
  flex: 1 0 80%;
  justify-content: space-between;
}

.firstQuestionTitle {
  font-weight: 600;
  color: var(--c-brand);
  cursor: pointer;
}

.itemAnswerContainer {
  margin-top: 5px;
  display: flex;
}

.itemAnswer {
  display: flex;
  flex-direction: column;
}

.itemAction {
  align-items: center;
  display: flex;
  flex: 0 1 20%;
  justify-content: flex-end;

  label {
    margin-bottom: 0;
  }

  button {
    cursor: pointer;
  }
}

.itemRedirect {
  display: flex;
}

.itemAction button {
  margin-left: 5px;
}

.questionCategory {
  font-weight: 600;
  font-size: 16px;
}

.qnaAndOr {
  display: flex;
  align-items: center;
  width: calc(100% - 15px);
  margin-left: 15px;
  margin-top: 10px;
}

.qnaAndOrText {
  font-weight: 600;
  color: #000;
  flex: 1 1 150px;
  display: flex;
  justify-content: center;
}

.qnaAndOrLine {
  height: 2px;
  background-color: #e5e3e6;
  flex: 1 1 100%;
}

.qnaRedirect {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  @media (max-width: 475px) {
    flex-wrap: wrap;
  }
}

.qnaRedirectToFlow,
.qnaRedirectNode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 47%;
  max-width: 47%;

  @media (max-width: 475px) {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.qnaRedirectNode {
  @media (max-width: 475px) {
    flex: 1 1 calc(100% - 15px);
    max-width: calc(100% - 15px);
    margin-left: 15px;
    margin-top: 10px;
  }
}

.qnaCategoryError {
  border-color: red;
}

.itemRedirectTitle,
.itemNode,
.itemFlow {
  font-weight: 900;
  margin-right: 30px;
  float: left;
}

.itemFlowName,
.itemNodeName {
  font-weight: 500;
}

.variation {
  &:focus {
    .variationDelete {
      display: inherit;
    }
  }
}
.variationDelete {
  display: none;
}

.tooltip {
  li {
    max-width: 800px;
    margin-left: -20px;
  }

  &.lite li {
    max-width: 300px;
  }
}

.liteItemContainer {
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  height: 420px;
}

.liteHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.liteSearch {
  width: 250;
  margin-bottom: 15;
}
