@import '../../palette.scss';

.navbar {
  border: none;
  margin-bottom: 0;
  background-color: $header-color;
  color: $content-color-dark;
}

.app-navbar {
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 10;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 0;

  li a {
    color: $content-color-light !important;
    &:hover {
      color: $content-color-normal !important;
    }
  }
}

.navbar :global(.container) {
  width: 100%;
}

.slack {
  
  img {
    opacity: 0.8;
    width: 17px;
    height: 17px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}