@import '../../palette.scss';

.logo {
  margin: 50px 0 40px 44px !important;
  padding: 3px;

  img {
    width: 110px;
  }
}

.header {
  width: 250px;
  max-width: 250px;
  background-color: $color-white-bg;
  color: $color-white-bg;
}
