@import '../../palette.scss';
@import '../../mixins';

.sidebarReact {
  bottom: 0px !important;
  box-shadow: 8px 0px 40px 0px rgba(0, 0, 0, 0.04);
}

.sidebar {
  background-color: $color-white-bg;
  height: 100%;
  max-width: 250px;
}

.sidebar ul {
  background-color: $color-white-bg;
}

.sidebar ul li {
  line-height: 50px;

  a {
    padding: 0 20px;
    height: 60px;

    :global(.icon) {
      color: $color-gray-icons;
      margin: 7px;
      display: block;
      font-size: 20px;
    }
  }
}

.sidebar ul li {
  a {
    border-left: solid 4px $color-white-bg;

    &:hover, &:focus, &:active {
      background-color: $color-white-bg;
      color: $color-dark-text;
    }

    @include bp-sidebar-text();
  }

  &.active {
    a {
      border-left: solid 4px $color-main;
    }
  }

  span {
    position: absolute;
    top: 21px;
    left: 70px;
    line-height: 20px
  }
}

.customIcon {
  width: 21px;
  height: 21px;
  filter: grayscale(1);
  display: block;
  margin: 7px;
}

.circle {
  display: inline-block;
  border: solid 1px $color-seperative-lines;
  height: 36px;
  width: 36px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 22px;
}