@import '../../palette.scss';

.sidebar {
  background-color: $sidebar-color;
  color: $sidebar-text-color;
  height: 100%;
  max-width: 200px;
}

.sidebar ul li {
  font-size: 16px;
  line-height: 44px;
  border-top: 1px solid #2d2d2d;
  a {
    padding: 0 15px;

    :global(.icon) {
      display: inline;
      vertical-align: middle;
      color: $sidebar-primary-color;
      padding: 0 10px 0 0;
      font-size: 18px;
    }
  }
}

.sidebar ul li a {
  &:hover, &:focus, &:active {
    background-color: $sidebar-hover-color;
  }

  color: $sidebar-text-color;
}

.active {
  a {
    background-color: $sidebar-hover-color;
    border-left: 5px solid $sidebar-primary-color;
  }
}

.bottomInformation {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: left;
  padding-left: 20px;

  a:hover {
    color: $sidebar-primary-color;
  }

  .name {
    font-size: 16px;
    color: #c7c7c7;
  }

  .production {
    margin-bottom: 10px;
  }

  .logo {
    margin: 20px 0 10px 15px !important;
    padding: 3px;

    img {
      width: 110px;
    }
  }
}

.customIcon {
  width: 28px;
  height: 18px;
  padding-right: 10px;
}
