@import '../../palette.scss';

.contentWrapper {
  padding: 0;
  margin: 0;

  opacity: 0;
  visibility: hidden;
}

.contentWrapperPadding {
  padding: 20px 40px;
}

.contentWrapper.show {
  opacity: 1;
  visibility: visible;
}
