@import '../../palette.scss';

.navbar {
  border: none;
  margin-bottom: 0;
  background-color: $header-color;
  color: $content-color-dark;

  :global(.navbar-nav) {
    a {
      &:hover,
      &:active,
      &:focus,
      &:visited {
        background: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    }
  }

  :global(.open) {
    :global(.material-icons) {
      color: $content-color-normal !important;
    }
  }

  :global(.dropdown-menu) {
    a {
      width: 100%;
      text-decoration: none;
    }
  }
}

.bp-select-bot {
  display: inline-block;
  color: #ffffff;
  width: 200px;
  a[role='button'] {
    padding: 7px 15px !important;
  }
}

:global(.navbar-default .navbar-nav > .open > a) {
  background-color: #ffffff !important;
}

.app-navbar {
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 10;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 0;

  li a {
    color: $content-color-light !important;

    &:hover {
      color: $content-color-normal !important;
    }
  }
}

.navbar :global(.container) {
  width: 100%;
}

.slack {
  img {
    opacity: 0.8;
    width: 17px;
    height: 17px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.account {
  padding-top: 9px !important;
  padding-bottom: 0px !important;
  border: none;

  a {
    padding: 0px !important;
  }

  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  :global(.material-icons) {
    font-size: 32px;

    &:hover {
      color: $content-color-normal !important;
    }
  }

  :global(.dropdown-menu) {
    a {
      padding: 5px 10px !important;
      width: 100%;
      display: block;
      text-decoration: none;
    }
  }
}
