@import '../../palette.scss';

.header {
  position: absolute;
  top: 0;
  height: 50px;
  padding: 10px;
  z-index: 20;
  line-height: 30px;
  color: $content-color-normal;
  font-size: 18px;

  .icon {
    font-size: 14px;
    margin: 0 5px;
    color: $content-color-normal;
  }

  a {
    color: $content-color-light;
  }
}

.header :global(.glyphicon) {
  margin: 0 5px;
  font-size: 14px;
  line-height: 30px;
}

.noSidebar {
  left: 10px;
}
