@import '../../palette.scss';

.sidebarReact {
  bottom: 0px !important;
}

.sidebar {
  background-color: var(--c-background--dark-2);
  color: $sidebar-text-color;
  height: 100%;
  max-width: 200px;
}

.sidebar ul {

  list-style: none;
}

.sidebar ul li {
  font-size: 16px;
  line-height: 44px;
  border-top: 1px solid #2d2d2d;
  a {
    text-decoration: none;
    padding: 0 15px;

    :global(.icon) {
      display: inline;
      vertical-align: middle;
      color: var(--c-brand--light-1);
      padding: 0 10px 0 0;
      font-size: 18px;
    }
  }
}

.sidebar ul li a {
  &:hover,
  &:focus,
  &:active {
    background-color: $sidebar-hover-color;
  }

  color: $sidebar-text-color;
}

.active {
  background-color: var(--c-background--dark-3);
  border-left: 5px solid var(--c-brand--light-1);
}

.customIcon {
  width: 28px;
  height: 18px;
  padding-right: 10px;
}

.empty {
  height: 120px;
}

.sidebar .mainMenu {
  padding: 0;

  &-list {}

  &__item {
    font-size: 14px;
  }

  &__link {
    display: block;
    padding-left: 44px;
  }

  &_level2 {
    padding: 0;
  }
}
