@import '../../palette.scss';

.sidebarReact {
  bottom: 0px !important;
}

.link {
  cursor: pointer;
}

.sidebar {
  background-color: var(--c-background--dark-2);
  color: $sidebar-text-color;
  height: 100%;
  width: 50px;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  overflow-x: visible;

  .logo {
    width: 50px;
  }
}

.sidebar ul {
  list-style: none;
  overflow-x: visible;
}

.sidebar ul li {
  font-size: 16px;
  line-height: 44px;
  width: 50px;
  overflow-x: hidden;

  transition-property: width;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;

  &:hover {
    width: 175px;
  }

  .experimental {
    margin-left: 10px;
    height: 15px;
    color: #f9e32d;
    font-size: 70%;
  }

  a {
    text-decoration: none;
    padding: 0 15px;
    white-space: nowrap;

    :global(.icon) {
      display: inline;
      vertical-align: middle;
      padding: 0 10px 0 0;
      font-size: 18px;
    }
  }
}

.sidebar ul li a {
  border-left: solid 5px transparent;

  &:hover,
  &:focus,
  &:active {
    background-color: $sidebar-hover-color;
  }

  color: $sidebar-text-color;
}

.active {
  background-color: $sidebar-hover-color;
  border-left: 5px solid var(--c-brand--light-1) !important;
}

.customIcon {
  width: 28px;
  height: 18px;
  padding-right: 10px;
}

.empty {
  height: 120px;
}

.sidebar .mainMenu {
  padding: 0;

  &__item {
    font-size: 14px;
  }

  &__link {
    display: block;
    padding-left: 44px;
  }

  &_level2 {
    padding: 0;
  }
}
