@import '../../palette.scss';

.logo {
  margin: 20px 0 10px 15px !important;
  padding: 3px;

  img {
    width: 110px;
  }
}

.header {
  width: 200px;
  max-width: 200px;
  background-color: $sidebar-color;
  color: $sidebar-text-color;
}
