.statusBar {
  background-color: var(--c-brand);
  color: var(--c-text--light);

  z-index: 1000;

  position: absolute;
  bottom: 0;
  right: 0;
  height: 24px;
  width: 100%;
  font-size: 12px;
  padding: 0 10px;

  display: flex;
  align-items: center;

  &__list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    z-index: 15;

    li {
      padding: 0 3px;
      display: inline-block;
      line-height: 24px;
      margin-top: -1px;

      a {
        color: var(--c-text--light);
        &:hover {
          color: var(--c-text--light);
          text-decoration: none;
        }
      }
    }

    li + li {
      margin-left: 8px;
    }

    &__clickable {
      &:hover {
        background-color: var(--c-background--dark-2);
        cursor: pointer;
      }
    }
  }

  &__separator {
    background-color: var(--c-background--dark-3);
    width: 1px;
    height: 12px;
    margin: 0 0 0 var(--s-default);
  }

  &__worker {
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
    @-webkit-keyframes flash {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.1;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes flash {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.1;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &Tabs {
    height: 100%;
    margin-left: auto;
  }
}
