@import '../../palette.scss';

.statusBar {
  background-color: var(--c-background--dark-2);
  border-top: 1px solid var(--c-background--dark-3);
  color: var(--c-text--light);
  display: flex;
  align-items: center;
  grid-area: footer;
}
.statusBar__version {
  font-weight: var(--fw-bold);
  margin: 0 var(--s-default--2x);
}
.statusBar__botName {
  font-weight: var(--fw-bold);
  margin: 0 var(--s-default);
}
.statusBar__separator {
  background-color: var(--c-background--dark-3);
  width: 1px;
  height: 12px;
  margin: 0 0 0 var(--s-default);
}
.statusBarTabs {
  height: 100%;
  margin-left: auto;
}
