.markAsReadButton {
  top: 22px;
  right: 12px;
}

.item {
  padding-top: 4px;
  width: 100%;
  border-left: 4px solid #e2e2e2;
}

.item-unread.level-info {
  background-color: #f6f8ff;
  border-left: 4px solid #aeccee;
}

.item-unread.level-error {
  background-color: #fff7f6;
  border-left: 4px solid #eeb2ae;
}

.item-unread.level-success {
  background-color: #f6fff7;
  border-left: 4px solid #aeeeb6;
}

.topMenu {
  padding: 10px 12px;
  border-bottom: 1px solid #d1d1d1;
  color: #5f5f5f;
  font-size: 13px;
}

.dropdown {
  padding: 0;
}

.header {
  font-size: 16px;
}

.message {
  margin-top: 7px;
  margin-bottom: 5px;
}

.bar-btn {
  margin-left: 10px;
}

.mark-read-btn:hover {
  cursor: pointer;
}

.empty {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #9a9a9a;
  }
}
