@import '../../../palette.scss';

$error-color: #ff8e6c;

.actions {
  background-color: $color-white-bg;
  height: 50px;
  padding: 9px 10px;
  position: relative;

  :global(.btn-group) {
    margin-right: 10px;
  }

  :global(.glyphicon) {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    color: $error-color;
  }

  button, ul li a {
    color: $color-light-text;

    &:hover, &:focus, &:active {
      background-color: $color-gray-bg;
      color: $color-light-text;
    }
  }
}

