.textareaWrapper {
  position: relative;

  &:focus-within {
    & + .textareaWrapper {
      .textarea {
        border-top-color: transparent;
      }
    }

    .textarea {
      border-top-color: var(--ocean);
      border-bottom-color: var(--ocean);
    }
  }
}

.textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  color: var(--shark);
  font-size: 12px;
  height: 39px;
  line-height: 1.25;
  margin: -1px 0 0;
  padding: var(--spacing-large);
  padding-left: 0;
  resize: vertical;
  transition: border 0.3s;
  width: 100%;
}

.content {
  flex-grow: 1;
  padding: 10px;
  margin-top: var(--spacing-large);
  background-color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.status {
  margin: 1%;
  display: block;
  .title {
    font: bold;
  }
}

.modelLoading {
  display: flex;
}
