.toggle {
  display: inline-block;
  display: inline-block;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
}

// .menuButton {
//   position: absolute;
//   right: 10px;
//   top: 4px;

//   :global(.arrow) {
//     display: none;
//   }

//   button {
//     border: none;
//   }
// }

// .menu {
//   list-style: none;
//   padding: 0;
//   margin: 0;

//   li {
//     padding: 5px 10px;
//     cursor: pointer;

//     &:hover {
//       color: #262626;
//       background-color: #f5f5f5;
//     }
//   }
// }

// :global(.popover).popover {
//   :global(.arrow) {
//     display: none;
//   }
// }

// :global(.popover-content).popover {
//   padding: 10px 0;
// }
