@import '../../palette.scss';

.modulePanel {
  position: relative;

  & > div {
    padding: 25px 20px;
  }
}

a {
  color: $content-color-light;
  
  &:hover {
    color: $color-main;
  }
}

i {
  vertical-align: bottom;
  padding-right: 10px;
  margin: 13px;
}

.moduleTitle {
  color: $color-dark-text;
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 16px;
  padding-top: 10px;
  margin-left: 70px;
}

.moduleDescription {
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 30px 0 0;
  font-size: 14px;
  color: $color-light-text;
}

.moduleSubtitle {
  margin-left: 70px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: $color-light-text;
  font-size: 14px;
}

.moduleRightSide {
  position: inherit;
}

.moduleIcons {
  text-align: right;
  font-size: 16px;
  
  i {
    color: gray;
    vertical-align: top;
    font-size: 20px;
    padding-right: 5px;
    margin: 0;
  }
}

.moduleButton {
  position:absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 20px;
  margin-right: 30px;

  button.uninstall {
    background-color: #B1B1B1;

    &:hover {
      background-color: #A5A5A5;
    }
  }
}

.customIcon {
  width: 28px;
  height: 28px;
  filter: grayscale(1);
  margin: 11px;
}

.circle {
  height: 50px;
  width: 50px;
  border: solid 1px $color-seperative-lines;
  border-radius: 25px;
  float: left;
}

