/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch .toggle-input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  background-color: rgb(146, 146, 146);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.checked:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
  background-color: #1bb68a;
}

.slider {
  border-radius: 24px;
}

.slider:before {
  border-radius: 50%;
}

.new-qna-modal .modal-content {
  border-radius: 15px;
}

.new-qna-modal .modal-dialog {
  position: absolute;
  top: 5px;
  margin: 0;
  max-width: calc(100vw - 20px);
}

.new-qna-modal .Select-arrow {
  border-color: #000 transparent transparent;
}

.qna-nav-bar .btn-success {
  background-color: #108c67;
  border-color: #0b6e51;
}

.qna-category-error,
.qna-category-error .Select-control {
  border-color: red;
}

.qna-container .pagination > .active > a,
.pagination > .active > span,
.qna-container .pagination > .active > a:hover,
.qna-container .pagination > .active > span:hover,
.qna-container .pagination > .active > a:focus,
.qna-container .pagination > .active > span:focus {
  background-color: #108c67;
  border-color: #108c67;
}

.qna-container .pagination > li > a,
.qna-container .pagination > li > span {
  color: #108c67;
}

.qna-container .pagination > li.active > a,
.qna-container .pagination > li.active > span {
  color: #fff;
}
