.qna {
  h4 {
    margin-top: 0;
    font-weight: bold;
  }

  :global(.panel-heading) {
    padding: 5px 10px;

    :global(.btn) {
      padding: 0;
      font-size: 12px;
      margin-left: 10px;
      margin-top: -6px;
      margin-bottom: -3px;
    }
  }

  :global(.panel-body) {
    padding: 10px;
  }
}

.paddedRow {
  padding-bottom: 10px;
}

.questionToolbar {
  :global(.btn) {
    float: right;
  }
}

.pale {
  opacity: 0.8;
}

.strong {
  &,
  & *,
  label {
    font-weight: bold;
  }
}
