$colorWeb: #ffdd98;
$colorMessenger: #83aeee;
$colorTelegram: #463cff;
$colorSlack: #ff8989;
$textColor: #182026;

.mainWrapper {
  background: #EBF1F5;
  height: 100%;
  overflow-y: scroll;
  padding: 25px;
}

.innerWrapper {
  margin: 0 auto;
  max-width: 945px;
  width: 100%;
}

.sectionsWrapper {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 44px;
  grid-template-columns: 50% 50%;
}

.section {
  h2 {
    color: $textColor;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 25px;
  }

  &:not(.half) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;

  h1 {
    font-size: 28px;
    font-weight: 500;
    color: $textColor;
    margin: 0;
  }
}

.pageTitle {
  color: $textColor;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.filters {
  &Button {
    font-size: 16px;
    font-weight: 300;
  }

  &InputWrapper {
    display: block;
    font-weight: 400;
    margin: 10px 10px 0 0;
  }

  &Wrapper {
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    .inputLabel {
      display: block;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 3px;
    }
  }
}

.emptyState {
  color: #757575;
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}

.appliedFilters {
  color: $textColor;
  font-size: 20px;
  font-weight: 400;

  text-align: center;

  &.filtersShowing {
    margin-top: 30px;
  }
}

.metricsContainer {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.metricName {
  color: $textColor;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px;
  min-height: 34px;
  width: 100%;
}

.numberMetric {
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
  color: $textColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 125px;
  padding: 20px;
  width: auto;

  &.wIcon {
    min-height: 240px;
  }

  .metricName {
    margin: 0;
  }
}

.numberMetricValue {
  display: block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metricWrapper {
  &.fullGrid {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.chartMetric {
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-between;
  padding: 20px;
  width: 100%;

  &.empty {
    align-items: center;
    box-shadow: none;
    color: $textColor;
    display: flex;
    height: 125px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  text {
    fill: #5C7080;
    font-size: 12px;
    font-weight: 400;
}
}
