.metricsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.numberMetric {
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 5px;
  margin: 10px 0 10px 10px;
}

.numberMetricName {
  margin-top: 10px;
  height: 50px;
}

.numberMetricValue {
  margin-top: 10px;
}
