.insertNode {
  cursor: crosshair;

  :global(.srd-diagram) {
    cursor: inherit;
  }
}

.floatingInfo {
  position: absolute;
  left: 10px;
  opacity: 0.8;
  z-index: 10;

  .insertMode button {
    margin-top: 10px;
  }
}

.noPadding {
  padding: 0 !important;
}

.searchWrapper {
  position: relative;
  z-index: 9;
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-large);
  margin-bottom: -38px;
}
