.insertNode {
  cursor: crosshair;

  :global(.storm-diagrams-canvas) {
    cursor: inherit;
  }
}

.floatingInfo {
  position: absolute;
  left: 10px;
  opacity: 0.8;
  z-index: 10;

  .insertMode button {
    margin-top: 10px;
  }
}
