.statusBar {
  background-color: var(--c-background--dark-1);
  color: var(--c-text--light);

  z-index: 1000;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 100%;
  font-size: 14px;
  padding: 0 10px;

  display: flex;
  align-items: center;

  .list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    z-index: 15;
    width: 100%;

    .item {
      padding: 0 5px;
      white-space: pre;
      display: inline-block;
      line-height: 30px;
      height: 100%;
      vertical-align: top;

      a {
        color: var(--c-text--light);
        &:hover {
          color: var(--c-text--light);
          text-decoration: none;
        }
      }

      &.clickable {
        user-select: none;

        &:hover,
        &.active {
          background-color: var(--c-background--dark-2);
          cursor: pointer;
        }
      }
    }

    .item + .item {
      margin-left: 5px;
    }

    .right {
      float: right;
      margin-left: 5px;
    }
  }

  &.worker {
    animation: flash linear 1s infinite;
    @keyframes flash {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.1;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.shortcut {
  background-color: #111;
  color: white;
  padding: 3px 5px;
  font-size: 14px;
  margin: 5px auto;
}

.langSwitherMenu {
  background-color: var(--c-background--dark-1);
  padding: 0;
  min-width: 100px;
  .langItem {
    padding: 5px 0;
    cursor: pointer;
    color: var(--c-text--light);
    text-align: center;
    &:hover,
    &:focus {
      font-weight: bold;
      background-color: black;
    }
  }
}
