.issueBtn {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--bg);
  padding: 0;
  margin: 0 0 -1px var(--spacing-small);
  font-size: 12px;
  transition: border 0.3s;

  &:hover {
    border-color: var(--seashell);
  }
}

.formHeader {
  position: relative;
  margin-bottom: var(--spacing-x-large);

  h4 {
    font-size: 22px;
    font-weight: 500;
    color: var(--shark);
    margin: 0 0 var(--spacing-small);
  }
}

.betaTag {
  background: var(--ocean);
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  display: inline-block;
  margin-left: 6px;
  padding: 1px 3px 0;
}

.submitBtn {
  background-color: var(--ocean) !important;
  border-radius: 5px !important;
  border: none;
  color: var(--white) !important;
  display: flex;
  font-size: 12px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin-left: auto;
  margin-top: var(--spacing-large);
  padding: 0 var(--spacing-medium) !important;
  transition: background 0.3s, color 0.3s !important;

  &:hover {
    color: var(--seashell) !important;
  }
}

.wrapper {
  background: #fff;
  padding: 0 var(--spacing-xx-large) var(--spacing-xx-large) var(--spacing-large);
}

.statusBar {
  align-items: center;
  background-color: var(--c-background--dark-2);
  color: var(--c-text--light-gray);
  display: flex;
  font-size: 12px;
  height: 28px;
  justify-content: space-between;
  line-height: 1.25;
  padding: 0 12px;
  width: 100%;
  z-index: 1000;

  :global(.bp3-button).button {
    background-color: var(--seashell);
    color: var(--shark);
    min-height: 0;
    border-radius: 3px;
    font-size: 10px;
    height: 20px;
    padding: 6px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: var(--gray);
    }

    &.danger {
      background-color: var(--lighthouse);
      color: white;

      &:hover {
        background-color: var(--hover-lighthouse);
      }
    }
  }

  .botName {
    color: var(--c-text--light);
  }

  .message {
    color: var(--gray);
    // margin-right: 10px;
  }

  .item {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.flag {
  display: inline-block;
  width: 20px;
  margin-right: 10px;

  img {
    border: solid 1px #e1e1e1;
    width: 100%;
    height: auto;
  }
}

.flagWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.langSwitherMenu {
  background-color: var(--c-background--dark-1);
  padding: 0;

  min-width: 100px;

  .langItem {
    padding: 5px 0;
    cursor: pointer;
    color: var(--c-text--light);

    &:hover,
    &:focus {
      font-weight: bold;
      background-color: black;
    }

    img {
      margin-left: 10px;
    }

    span {
      float: right;
      margin-right: 15px;
    }

    a {
      color: white;
      text-decoration: 'none';
    }

    a:hover {
      color: white;
      background-color: black;
      text-decoration: none;
    }
  }
}
