.statusBar {
  align-items: center;
  background-color: var(--c-background--dark-2);
  color: var(--c-text--light-gray);
  display: flex;
  font-size: 12px;
  height: 28px;
  justify-content: space-between;
  line-height: 1.25;
  padding: 0 12px;
  width: 100%;
  z-index: 1000;

  .botName {
    color: var(--c-text--light);
  }

  .item {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 20px
    }
  }
}
