.secondaryText {
  color: #5c7080;
  display: block;
}

.text {
  ul {
    padding-left: 20px;
    margin: 0;
  }
}

.contentImgWrapper {
  display: flex;
  max-height: 50px;

  .textWrapper {
    text-align: left;
    overflow: hidden;
  }
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  flex-shrink: 0;
  height: 30px;
  margin-right: var(--spacing-medium);
  overflow: hidden;
  width: 30px;
}

:global(.srd-node):active {
  cursor: grabbing;
}

.nodeWrapper {
  background: #fff;
  width: 150px;

  &.highlighted {
    outline: 5px solid #ffde33 !important;
  }

  .prompt :global(.port):before {
    background: var(--prompt);
  }

  .trigger :global(.port):before {
    background: var(--trigger);
  }

  .execute :global(.port):before,
  .action :global(.port):before {
    background: var(--execute);
  }

  .failure :global(.port):before {
    background: var(--lighthouse);
  }

  .router :global(.port):before {
    background: var(--if-else);
  }

  .success :global(.port):before {
    background: var(--success);
  }

  .prompt :global(.port):before {
    background: var(--prompt);
  }

  :global {
    .port {
      background: none !important;
      height: 40px;
      width: 25px;

      &:before {
        content: '';
        border-radius: 100%;
        height: 6px;
        width: 6px;
        background: var(--say);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.selected {
        &:before {
          background: var(--say);
        }
      }
    }
  }

  .contentsWrapper {
    padding: 0 var(--spacing-medium) var(--spacing-medium);
    line-height: 1;

    :global {
      .content-wrapper {
        margin-right: 0 !important;

        &:first-of-type {
          margin-top: 0 !important;
        }

        &.active,
        &:hover {
          .content,
          &:after {
            background: #fff !important;
          }
        }
      }
    }
  }

  .headerWrapper {
    background: #fff;
    border: none;
    border-top: 2px solid var(--say);
    box-shadow: none;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--shark);
    font-size: 12px;
    font-weight: bold;
    justify-content: flex-start;
    line-height: 1.08;
    margin: 0;
    min-height: 32px;
    position: relative;
    width: 100%;

    &:hover {
      background: #fff;
      border: none;
      border-top: 2px solid var(--say);
      box-shadow: none;
    }

    &.trigger,
    &:hover.trigger {
      border-color: var(--trigger);
    }

    &.execute,
    &:hover.execute,
    &.action,
    &:hover.action {
      border-color: var(--execute);
    }

    &.failure,
    &:hover.failure {
      border-color: var(--lighthouse);
    }

    &.router,
    &:hover.router {
      border-color: var(--if-else);
    }

    &.success,
    &:hover.success {
      border-color: var(--success);
    }

    &.prompt,
    &:hover.prompt {
      border-color: var(--prompt);
    }

    .button {
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      color: var(--shark);
      display: flex;
      font-size: 12px;
      font-weight: bold;
      justify-content: flex-start;
      line-height: 1.08;
      margin: 0 !important;
      min-height: 30px;
      padding: 0 var(--spacing-medium) !important;
      width: 100%;
      align-items: center;
      position: relative;

      &:active {
        cursor: grabbing;
      }

      svg {
        fill: var(--shark) !important;
      }

      input {
        background-color: #fff;
        border-radius: 5px;
        border: solid 1px var(--ocean);
        color: var(--shark);
        font-size: 12px;
        line-height: 1.08;
        margin-top: -2px;
        padding: 4px 6px 3px;
        width: 100%;

        &::placeholder {
          opacity: 1;
          color: var(--reef);
        }

        &.error {
          border-color: var(--lighthouse) !important;
        }
      }

      :global(.bp3-button-text) {
        padding: var(--spacing-medium) 0;
        word-break: break-word;
      }

      .errorIcon {
        cursor: default;
        position: absolute;
        top: 50%;
        right: 3px;
        line-height: 0;
        transform: translate(-100%, -50%);
        z-index: 99999;

        svg {
          fill: var(--lighthouse) !important;
        }
      }
    }
  }

  .in {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  .out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
  .outRouting {
    position: absolute;
    top: 50%;
    right: calc(var(--spacing-small) * -1);
    transform: translate(65%, -50%);

    :before {
      background-color: var(--prompt) !important;
    }
  }
}

.contextMenuLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joinLabel {
  color: var(--shark);
  display: block;
  font-size: 8px;
  font-weight: bold;
  line-height: 1.25;
  margin: var(--spacing-small) 0;
  text-align: center;

  &:last-of-type {
    display: none;
  }
}

.contentWrapper {
  background: #fff;
  border-radius: 5px;
  border: none;
  color: var(--shark);
  font-size: 8px;
  height: 40px;
  line-height: 1.25;
  margin: var(--spacing-medium) var(--spacing-medium) 0 0;
  padding: 0;
  position: relative;
  width: 135px;
  z-index: 1;

  &:first-of-type {
    margin-top: 0;
  }

  &.hasJoinLabel {
    margin-top: 0;
  }

  &:active {
    cursor: grabbing;
  }

  &:hover,
  &.active {
    .content:not(.promptPortContent) {
      border: solid 1px var(--ocean);
    }
  }
}

:global(.portContainer).outRouting {
  background: none !important;
  right: 0;
  transform: none;
  top: 0;
  position: static;

  :global(.label) {
    position: absolute;
    top: 50%;
    right: calc(var(--spacing-large) * -1);
    transform: translate(100%, -50%);
  }
}

.content {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid var(--gray);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: var(--spacing-small);
  transition: background 0.3s, border 0.3s;
  width: 100%;
  word-break: break-all;

  &.promptPortContent {
    position: relative;
  }
}
