/*
  IMPORTANT!
  This file needs to be compiles to theme.css and be put at your bot's root
 */

#app {
  /* LOGO */
  .bp-sidebar-header {
    .bp-logo {}
  }


  /* SIDEBAR */

  .bp-react-sidebar {}

  .bp-sidebar {
    .bp-sidebar-active {}
  }

  .bp-sidebar-footer {
    .bp-inner-footer {}
    .bp-name {}
    .bp-production {}
    .bp-edition-license {}
    .bp-buy {}

    .bp-status {
      .bp-dot {
        .bp-reached {}
      }
    }

    .bp-progress {
      .bp-used {}
      .bp-warning {}
      .bp-urgent {}
      .bp-reached {}
    }
    .bp-about {}
  }


  /* HEADER */
  .bp-page-header {}
  .bp-navbar {
    .bp-slack {}
  }


  /* NOTIFICATIONS */
  .bp-notifications-dropdown {
    .bp-hub-message {}
    .bp-top-menu {
      .bp-item {}
      .bp-level-success {}
      .bp-level-info {}
      .bp-level-error {}
      .bp-item-unread {}
    }
  }


  /* CONTENT */
  .bp-content-wrapper {}


  /* MIDDLEWARE */
  .bp-middleware-list {
    .bp-header {
      .bp-help {}
    }
    .bp-middleware {
      .bp-circle {}
      .bp-help-icon {}
    }

    .bp-disabled {
      .bp-circle {}
    }
  }


  /* MODULES */
  .bp-module-panel {
    .bp-module-title {}
    .bp-module-description {}
    .bp-module-author {}
    .bp-module-license {}
  }
    

  /* LOGIN */
  .bp-login {
    .bp-loading {}
    .bp-header {}
  }


  /* DASHBOARD */
  .bp-dashboard {
    .bp-info {
      .bp-name {}
      .bp-description {}
      .bp-author {}
      .bp-version {}
      .bp-license {}
      .bp-where-from {}
    }

    .bp-hero {
      .bp-info {}

      .bp-contribution {
        .bp-rays-anim {}
        .bp-rays {}
        .bp-content {
          .bp-username {}
        }
      }
    }
  }


  /* ADMIN  */
  .bp-admin {
    .bp-user {
      .bp-table {}
    }
    .bp-token {
      .bp-table {}
    }
  }


  /* PROFILE */
  .bp-profile {}


  /* ROLES */
  .bp-roles {}


  /* GENERAL ELEMENTS */
  .panel {
    .panel-heading {}
  }

  .form-control:focus {}
  .bp-button {}
  .bp-button-uninstall {}
  .bp-button-danger {}

  /* STYLES APPLY DIRECTLY TO APP */

  height: 100%;
}
