.avatar {
  margin-top: 0.15rem;
  margin-right: 0.75rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;

  .color {
    fill: currentColor;
  }

  .picture {
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
  }
}

.date {
  color: #666;
  text-align: center;
  font-size: 12px;
  margin: 40px 0 20px;

  .smallLine {
    border-bottom: solid 1px #555;
    margin: auto;
    width: 80px;
    margin-top: 5px;
  }
}

.messages {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 0.65rem 1rem;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 18px;
  padding-left: 0;

  .message-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .info-line {
      margin: 0 12px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      padding: 0.3125rem 0;
      font-size: 12px;
      color: #9a9a9a;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 100%;

      & > :not(:last-child) {
        margin-bottom: 2px;
      }
    }

    .bubble {
      border-top-left-radius: 0px; // 4px
      border-bottom-left-radius: 0px; // 4px
      border-top-right-radius: 0px; // 8px
      border-bottom-right-radius: 0px; // 8px

      &:first-of-type {
        border-top-left-radius: 0px; // 16px
        border-top-right-radius: 0px; // 16px
      }

      &:last-of-type {
        border-bottom-left-radius: 0px; // 16px
        border-bottom-right-radius: 0px; // 16px
      }

      max-width: 80%;
      border: 1px solid #f1f1f1;
      background-color: rgba(255, 255, 255, 0.9);

      padding: 0.5rem 0.75rem;
      white-space: pre-wrap;
      word-break: break-word;

      &.file {
        padding: 0;
        a {
          display: block;
          cursor: pointer;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          border-bottom-right-radius: inherit;
          border-bottom-left-radius: inherit;

          img {
            max-height: 240px;
            max-width: 100%;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;
          }
        }
      }

      &.carousel {
        background: none;
        padding: 0;
        margin: 10px 0;
      }

      &.session_reset {
        color: red !important;
        background: none !important;
        border: none;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        margin: 10px 0;
      }

      p {
        margin: 0;
      }

      .specialAction {
        opacity: 0.6;
      }
    }
  }
}

.otherFile {
  padding: 0.5rem 0.75rem;
}

.user {
  padding-right: 0;

  .message-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    .group {
      padding-left: 60px;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;

      .bubble {
        color: rgb(255, 255, 255);

        border-top-left-radius: 0px; // 8px;
        border-bottom-left-radius: 0px; // 8px;
        border-top-right-radius: 0px; // 4px;
        border-bottom-right-radius: 0px; // 4px;

        &:first-of-type {
          border-top-left-radius: 0px; // 16px;
          border-top-right-radius: 0px; //16px;
        }

        &:last-of-type {
          border-bottom-right-radius: 0px; // 16px;
          border-bottom-left-radius: 0px; // 16px;
        }
      }
    }
  }
}

.formOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1000000;
  height: 100vh;
  left: 0;
  padding: 5%;
}

.formContainer {
  width: 320px;
  margin: auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;

  .formClose {
    display: inline-block;
    float: right;
    vertical-align: top;
    position: relative;
    top: 0;
    cursor: pointer;
  }

  .formTextarea {
    display: block;
    width: 100%;
    height: 80px;
    min-height: 80px;
    max-width: 270px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .formInput {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .formTitle {
    color: #000;
    font-size: 18px;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  .formGroup {
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .buttonLayer {
    text-align: right;
    .formSubmit {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border-radius: 4px;
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
    }
    .formSubmit:hover {
      background-color: #ccc;
    }
  }
}

.loginPromptContainer {
  label {
    display: block;
  }

  .loginInput {
    height: 30px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
    border-bottom: 1px solid #bbb;
    width: 200px;
    text-align: center;
    margin: 10px;
    font-size: 14px;
  }

  .loginButton {
    display: block;
    font-size: 16px;
    height: 30px;
    width: 130px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
  }
}

@keyframes typingAnimation {
  0% {
    transform: translateY(0px);
  }
  28% {
    transform: translateY(-6px);
  }
  44% {
    transform: translateY(0px);
  }
}

.typingGroup {
  align-items: center;
  display: flex;
  height: 17px;

  .typingBubble {
    animation: typingAnimation 1s infinite ease-in-out;
    border-radius: 50%;
    height: 6px;
    margin-right: 4px;
    vertical-align: middle;
    width: 6px;
    white-space: pre-wrap;
    font-size: 16px;
    direction: ltr;

    &:nth-child(1) {
      animation-delay: 200ms;
    }
    &:nth-child(2) {
      animation-delay: 300ms;
    }
    &:nth-child(3) {
      animation-delay: 400ms;
    }
  }
}

.quickReplyContainer {
  box-sizing: border-box;
  display: block;
  text-align: right;
  text-align: right;

  button {
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    align-items: flex-start;

    &.bubble {
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.9);
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
      width: initial;
      min-width: 5rem;
      height: 40px;
      text-align: center;
      border: 1px solid currentColor;
      border-radius: 0px; // 20px;
    }

    .filePicker {
      top: -32px !important;
      height: 38px !important;
      cursor: pointer;
    }
  }

  .floatNone {
    float: none;
  }
}

.carousel {
  :global(.slick-arrow) {
    background-color: #fff;
    border: 1px solid #dddfe2;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    box-shadow: none;
    color: #444;

    &:before {
      color: #444;
    }
  }
}

.carousel-item {
  margin-right: 0px !important;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  line-height: 1.28em;
  margin-right: 10px;
  min-height: 150px;
  max-height: 410px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;

  .picture {
    background-position: 50% 50%;
    background-size: cover;
    height: 150px;
    width: 100%;
  }

  .info {
    padding: 6px 12px 12px 12px;

    .title {
      text-overflow: ellipsis;
      white-space: normal;
      font-weight: bold;
      line-height: 1.28em;
      max-height: 40px;
      overflow: hidden;
    }

    .subtitle {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .action {
    font-weight: 500;
    padding: 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    cursor: pointer;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
  }

  i.external {
    background: url(/api/botpress-platform-webchat/static/external_icon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100% 100%;
  }
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .typingGroup {
    .typingBubble {
      animation: initial;
    }
  }
}
