.table {
  &--scroll {
    overflow-x: scroll;
  }

  &--keys {
    color: var(--c-dark);
    border: 1px solid #e1e4e8;
    font-size: 0.8rem;

    tr {
      &[disabled] span,
      &[disabled] a {
        color: #ccc;
      }
      &:nth-child(odd) {
        background-color: #f1f1f1;
      }
    }

    th {
      color: var(--c-text--light);
      background: var(--c-brand);
    }

    td {
      &:last-of-type {
        text-align: right;

        .btn--text {
          border: 0;
          color: #007bff;
          font-size: 12px;
          margin: 0;
          padding: 0;

          &::after {
            content: none;
          }
        }
      }
    }

    &__users {
      font-weight: 600;
      text-align: center;
      width: 50px;

      &[disabled] {
        background-color: transparent;
        border-color: transparent;
      }
    }

    &__assigned {
      &[disabled] {
        background-color: transparent;
        border-color: transparent;
        -webkit-appearance: none;
      }

      &.assigned {
        color: green;
      }

      &.not-assigned {
        color: red;
      }
    }

    &__cost {
      font-weight: 600;
    }
  }
}

.modal {
  &-section-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__key {
    background: #f1f1f1;
    max-height: 250px;
    overflow: scroll;
    padding: 10px;
  }

  code {
    background-color: transparent;
    font-size: 12px;
    padding: 0;
  }
}

.copied {
  color: green;
  font-size: 13px;
  position: relative;
  animation: copied 1.5s linear both;
  animation-play-state: running;
}

.check {
  animation: check 0.5s ease both;
  animation-play-state: running;
  border: 2px solid green;
  border-right: none;
  border-top: none;
  bottom: 2px;
  height: 7px;
  position: absolute;
  left: 3px;
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 15px;
}

.registerBtn {
  float: right;
}

.licensing_table {
  width: 100%;
  font-size: 80%;
  table-layout: fixed;

  thead th:nth-child(1) {
    width: 80px;
  }
  thead th:nth-child(2) {
    width: 60%;
  }

  td {
    padding-bottom: 15px;
  }

  .addons {
    font-weight: bold;
    height: 55px;
  }

  .title {
    font-weight: bold;
  }

  .description {
    max-width: 400px;
  }

  .form-check-input {
    margin: 0px;
    position: relative;
  }
}

.sourcesList {
  border: 1px solid #ccc;
  margin: 20px 0 10px 0;

  .sourceItem {
    padding: 10px;
    padding-left: 40px;
    border-bottom: 1px solid #ccc;

    .deleteButton {
      float: right;
    }
  }
}

.licensing_sideMenu {
  button {
    margin-bottom: 20px;
  }
}
