.msgInput {
  width: 100%;
  outline: none;
  border: none;
  border-top: 2px solid var(--c-neutral);

  &:focus {
    border-top: 2px solid var(--c-brand);
    background-color: var(--c-background-light-2);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 24px);
}

.history {
  height: 100%;
}
