.container {
  :global(.CodeMirror) {
    height: 250px;
  }
}

.terminal {
  position: relative;
}

.run {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 50px;
  background-color: #36bc98;
  border: none;
  color: white;
  z-index: 3;
}

.logsRow {
  margin-top: 20px;
}

ul.logs {
  word-wrap: break-word;
  list-style: none;
  padding: 0;
}

.line span {
  margin-left: 7px;
  color: #eee;
}

.line .time {
  color: #808080;
}

.line .level-silly {
  color: #6c6c6c;
}
.line .level-debug {
  color: #b59fff;
}
.line .level-verbose {
  color: #a4fffc;
}
.line .level-info {
  color: #6cbdff;
}
.line .level-warn {
  color: #fce465;
}
.line .level-error {
  color: #fe5151;
}

.logsRow {
  :global(.panel-success) {
    :global(.panel-body) {
      background-color: #141415;
    }
  }
}

.return {
  border-left: 3px solid #5cbad1;
  padding: 10px;

  .return-header {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    color: #d8d2d9;
  }

  .return-body {
    color: #c1bcc2;
  }
}
