@import '../../palette.scss';

.information {
  height: 255px;
  padding: 15px 25px 15px 25px;
}

.informationName {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: $content-color-normal;
}

.informationDescription {
  color: $content-color-light;
  font-weight: lighter;
}

.informationAuthor {
  strong {
    font-weight: bolder;
  }
}

.informationVersion {
  color: $content-color-light;
  margin-bottom: 5px;
}

.contribution {
  position: relative;
  height: 255px;
  text-align: center;

  .contributionContent {
    text-align: center;
    line-height: 25px;
    position: absolute;
    padding-right: 20px;
    top: 50%;
    transform: translateY(-50%);

    img {
      box-shadow: 3px 3px 5px #868686;
      height: 60px;
      width: 60px;
      margin-bottom: 30px;
      border-radius: 3px;
    }

    strong {
      font-weight: bolder;
    }

    p {
      margin: 0;
    }

  }
}
