.ConfirmDialogContainer > div {
  z-index: 9999;

  :global(.bp3-dialog-container) {
    height: 100%;
  }

  .dialog {
    max-height: 90%;
    background-color: white !important;

    :global(.bp3-dialog-body) {
      overflow: auto;
      height: calc(100% - 34px);
    }

    :global {
      .bp3-button {
        transition: color 0.3s, background 0.3s;
      }
    }
  }

  .dialogBody {
    position: relative;
    margin: 0 !important;
    padding: 20px !important;
    padding-bottom: 6px !important;
    overflow: auto;
  }

  :global {
    .bp3-button-text {
      font-size: 12px !important;
    }

    .bp3-dialog-body {
      display: flex;
    }

    .bp3-button {
      box-shadow: unset !important;
      background-image: unset !important;
      border-radius: 5px !important;
      padding-top: 6px;
    }

    .bp3-button.bp3-intent-warning {
      background-color: var(--lighthouse);

      &:hover {
        background-color: var(--hover-lighthouse);
      }

      &:focus {
        background-color: var(--focus-lighthouse);
      }
    }

    .bp3-button:not([class*='bp3-intent']) {
      background-color: white;

      &:hover,
      &:focus {
        background-color: var(--seashell);
      }
    }
  }
}

.icon {
  margin-right: 16px;
  color: var(--lighthouse) !important;
}
