.workspace {
  padding-top: 20px;
  min-height: 100vh;
  background: #fdfdfd;
  h2 {
    margin: 0;
  }
}

.summary {
  strong {
    margin-right: 10px;
  }
}

.scenario {
  border: solid 1px #eee;
  margin-top: 20px;

  .scenarioBody {
    padding: 10px 20px;
  }

  .scenarioHead {
    display: flex;
    text-transform: none;
    justify-content: space-between;
    padding: 10px 20px;

    .title {
      display: flex;
      align-items: flex-end;
      font-size: 2rem;
      margin-bottom: 5px;
      cursor: pointer;
    }
    p {
      margin: 0 0 0 20px;
      font-size: 12px;
      font-weight: normal;
    }
  }

  .reportInteractions {
    margin-top: 20px;
  }

  .interaction {
    margin-bottom: 15px;
    strong {
      display: inline-block;
      width: 50px;
      margin-right: 25px;
    }

    .interactionStatus {
      display: inline-block;
      width: 25px;
      vertical-align: middle;
    }

    .botReplies {
      display: flex;
      > div {
        margin-left: 25px;
      }
      > ul {
        list-style: none;
        padding: 0;
      }
    }
  }
}
