// Section New colors from design
$node-bg: #FCFCFC;
$border: #D1D3D4;
$border-active: #5BB3EC;
$main-dark-color: #030303;
$main-text-dark-color: #182026;
$main-warning: #DE4343;
$node-say-something: #D1E5F2;
$node-execute: #D5A5BC;
$node-listen: #FFE699;
$node-router: #A1C4C9;
