// Section New colors from design
$node-bg: #fcfcfc;
$border: #d1d3d4;
$border-active: #5bb3ec;
$main-dark-color: #030303;
$main-text-dark-color: #182026;
$main-warning: #de4343;
$main-confirm-warning: #f66f48;
$node-say-something: #d1e5f2;
$node-execute: #d5a5bc;
$node-listen: #ffe699;
$node-router: #a1c4c9;
