// Top header

$logo-color: #fff;
$danger-color: #d14319;
$dark-background: #292929;
$dark-background-hover: #212121;
$dark-light-text: #fff;

$light-background: #f4f4f4;

$fontFamily: Sans-Serif;

:root {
  --font-family: $fontFamily;

  --c-neutral--dark-2: #000;
  --c-neutral--dark-1: #4a4a4a;
  --c-neutral: #9b9b9b;
  --c-neutral--light-1: #ddd;
  --c-neutral--light-2: #f2f1f1;
  --c-neutral--light-3: #fff;

  --c-background--light-3: #dddddd;
  --c-background--light-2: #9b9b9b;
  --c-background--light-1: #626262;
  --c-background: #555556;
  --c-background--dark-1: #353535;
  --c-background--dark-2: #1e1e1e;
  --c-background--dark-3: #000;

  --header-height: 50px;
  --statusbar-height: 30px;
  --container-height: calc(100vh - var(--header-height) - var(--statusbar-height));
  // Super admin page header height and standard page header height
  --sa-page-header-height: 35px;
  --page-header-height: 108px;
  // Margin between header and content
  --page-header-margin: 30px;
  --unlicensed-height: 35px;
}
