@import './_colors.scss';

$theme-colors: (
  'dark': $dark-background
);

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container > .navbar {
  padding: 0;
}

.form-control:disabled,
.form-control[readonly] {
  border: none;
}

.mainContent {
  margin-bottom: 20px;
}

.main-content {
  padding: 0 !important;
  min-height: calc(100vh - 58px);
  background-color: white;
}

.help-available {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.section-title-help {
  margin-left: 5px;
  opacity: 0.5;
  font-size: 80%;

  &:hover {
    opacity: 0.8;
  }
}

.section-header {
  border-bottom: 1px solid $light-background;
  margin-bottom: 20px;

  .nav-item.active {
    a {
      color: #333;
      cursor: default;
    }

    background: $light-background;
  }
}

.user-avatar {
  border-radius: 50%;
}

.user-profile {
  .user-avatar {
    height: 25px;
    margin-right: 10px;
  }
}

.bots,
.members {
  .tags {
    margin: 10px 0;
    font-size: 20px;
    padding-left: 10px;
    border-left: 2px solid #333;
    vertical-align: middle;
    line-height: 20px;

    .env + .env {
      margin-left: 7px;
    }
  }
}

.disabled {
  cursor: not-allowed;
}

.pullLeft {
  float: left;
}

////////////////////
// LOGIN SECTION
////////////////////

.centered-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
  }

  .logo {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }

  .login-btn {
    background: white;
    color: black;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: #eee;
    }
  }
}

.login-box {
  label {
    display: block;
    text-align: left;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}

pre.code {
  padding: 1em;
  margin: 1.5em 0;
  overflow: auto;
  background: $dark-background;
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import './scss/_dropdown.scss';
@import './scss/_layout.scss';
@import './scss/_landing.scss';
@import './scss/_list-item.scss';
@import './scss/_tables.scss';
@import './scss/_profile.scss';
@import './scss/_license.scss';
@import './scss/_licensing.scss';
@import './scss/_userlist.scss';
@import './scss/_monitoring.scss';
@import './scss/_workspace.scss';

// BP

.form-check-label {
  font-size: 12px;
}

.btn__icon {
  fill: var(--c-neutral--dark-1);
  width: 16px;
  height: auto;

  &:hover {
    fill: var(--c-neutral);
  }
}

.is-block {
  display: block;
}

.bot-template-desc {
  font-size: 12px;
  padding: 10px;
}

.link {
  color: var(--blue) !important;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.btn-link {
  padding: 0px 3px 0px 3px !important;
}

.form-range {
  padding-right: 25px;
}
