@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.bpw-layout {
  font-family: 'Roboto', sans-serif !important;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #ececec !important;
}

.bpw-chat-bubble:last-of-type .bpw-chat-bubble-content {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.bpw-chat-bubble:first-of-type .bpw-chat-bubble-content {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.bpw-from-user .bpw-chat-bubble:last-of-type .bpw-chat-bubble-content {
  border-bottom-right-radius: 0px !important;
}

.bpw-from-bot .bpw-chat-bubble:last-of-type .bpw-chat-bubble-content {
  border-bottom-left-radius: 0px !important;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #066ca8 !important;
  color: #fff !important;
}

.bpw-date-container .bpw-small-line {
  border-bottom: none !important;
}

.bpw-date-container {
  font-weight: 700 !important;
  font-size: 14px !important;
}

.bpw-header-container {
  background-color: #f8f8f8 !important;
  border-bottom: none !important;
}

.bpw-bot-avatar img,
.bpw-bot-avatar svg {
  border: none !important;
  border-radius: 50% !important;
}

.bpw-button {
  border-radius: 20px !important;
  border-color: #066ca8 !important;
  color: #066ca8 !important;
}

.bpw-composer {
  padding: 10px 10px 3px !important;
  background: none !important;
  border: none !important;
}

.bpw-composer-inner {
  position: relative !important;
  line-height: 0 !important;
}

.bpw-composer textarea {
  background: #ececec !important;
  border-radius: 20px !important;
  font-size: 1.05rem !important;
  line-height: 1.6 !important;
  margin: 0 !important;
  overflow: hidden !important;
}

.bpw-send-button {
  background: transparent !important;
  border-radius: 5px !important;
  border: none !important;
  color: #066ca8 !important;
  cursor: pointer !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  padding: 5px !important;
  position: absolute !important;
  right: 15px !important;
  top: 50% !important;
  margin-top: -14px !important;
}

.bpw-send-button:hover {
  background: transparent !important;
}

.bpw-powered {
  font-size: 12px !important;
  color: #8a8787 !important;
  border-top: none !important;
  padding: 0 10px 5px 0 !important;
}

.bpw-powered a {
  color: #066ca8 !important;
}
