@import '../../../palette.scss';

h5 {
  font-weight: 500;
}

.section {
  padding: 5px 0 5px 20px;
  border-left: 3px solid #ddd;
}

.endBloc,
.nodeBloc,
.subflowBloc,
.returnBloc {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-top: 5px;
}

.returnBloc {
  background-color: darkcyan;
}
.endBloc {
  background-color: #e62eea;
}
.nodeBloc {
  background-color: black;
}
.subflowBloc {
  background-color: blue;
}

.tip {
  font-size: 90%;
  color: #777;
}

.returnToNodeSection {
  input {
    padding: 5px;
  }
}

.node {
  position: relative;

  :global(.panel-heading) {
    text-transform: none;
    padding: 8px 5px 5px 5px;

    :global(.panel-title) {
      font-weight: 600;
      font-size: 12px;
    }
  }

  :global(.tab-content) {
    padding: 10px 0;
  }
}

.node button + button {
  margin-left: 5px;
}

.item {
  padding: 5px 0;

  .actions {
    display: none;

    a {
      cursor: pointer;
      margin-right: 5px;
    }
  }

  &:hover {
    background: #fefefe;
    border-left: 2px solid #999;
    padding-left: 10px;

    .actions {
      padding: 10px 0;
      display: block;
    }
  }
}

.item + .item {
  border-top: 1px solid #f9f9f9;
}

.node .name {
  color: #333;
  font-weight: 500;
  border-radius: 0px;
  background: none;
  width: 100% !important;
  border: 1px dashed #d0d0d0;
  padding: 5px 8px;

  &:hover {
    background: #f1f1f1;
  }

  &:focus {
    background: #f5f5f5;
  }
}

.actions {
  margin-top: 10px;
  width: 100%;

  button {
    border-radius: 3px;
  }
}

.actionIcons {
  margin-top: 5px;
}

.bottomSection {
  text-align: center;
}

.textFields {
  display: inline-block;
  width: 50% !important;
  margin-top: 3px;

  &:global(.form-control) {
    margin: 0;
    display: inline-block;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: unset;
  }
}

.formHeader {
  position: relative;

  h4 {
    font-size: 22px;
    font-weight: 500;
    color: $main-dark-color;
    margin: 0 0 5px;
  }
}

.sidePanelForm {
  .fieldWrapper {
    display: block;
    line-height: 0;
  }

  .formSelect {
    background: #fff;
    border: 1px solid $border;
    border-radius: 3px;
    display: block;
    padding: 0;
    position: relative;

    &:before {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #464646;
      content: "";
      height: 0;
      position: absolute;
      pointer-events: none;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      width: 0;
    }

    &, > * {
      cursor: pointer;
    }

    select {
      color: $main-dark-color;
      background: transparent;
      border: 0;
      font-size: 16px;
      font-weight: 300;
      height: 38px;
      line-height: 1.25;
      padding: 8px 10px;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
      width: 100%;

      // removes default browser dropdown arrow
      -webkit-user-select: none;
         -moz-user-select: -moz-none;
          -ms-user-select: none;
              user-select: none;

      -webkit-appearance: none;
         -moz-appearance: radio-container;
              appearance: none;

      &:focus, :-moz-focusring {
        outline: 0;
      }
    }
  }

  .formLabel {
    color: $main-dark-color;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    margin: 20px 0 6px;
  }

  .textInput, .textarea {
    background: #fff;
    border: 1px solid $border;
    border-radius: 3px;
    color: $main-dark-color;
    font-size: 16px;
    line-height: 1.25;
    padding: 8px 10px;
    width: 100% !important;
  }

  .textarea {
    height: 60px;
    resize: none;
  }

  .addContentBtn {
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
  }
}
