h5 {
  font-weight: 500;
}

.section {
  padding: 5px 0 5px 20px;
  border-left: 3px solid #ddd;
}

.endBloc,
.nodeBloc,
.subflowBloc,
.returnBloc {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-top: 5px;
}

.returnBloc {
  background-color: darkcyan;
}
.endBloc {
  background-color: #e62eea;
}
.nodeBloc {
  background-color: black;
}
.subflowBloc {
  background-color: blue;
}

.tip {
  font-size: 90%;
  color: #777;
}

.returnToNodeSection {
  input {
    padding: 5px;
  }
}

.node {
  position: relative;

  :global(.panel-heading) {
    text-transform: none;
    padding: 8px 5px 5px 5px;

    :global(.panel-title) {
      font-weight: 600;
      font-size: 12px;
    }
  }

  :global(.tab-content) {
    padding: 10px 0;
  }
}

.node button + button {
  margin-left: 5px;
}

.item {
  padding: 5px 0;

  .actions {
    display: none;

    a {
      cursor: pointer;
      margin-right: 5px;
    }
  }

  &:hover {
    background: #fefefe;
    border-left: 2px solid #999;
    padding-left: 10px;

    .actions {
      padding: 10px 0;
      display: block;
    }
  }
}

.item + .item {
  border-top: 1px solid #f9f9f9;
}

.node .name {
  color: #333;
  font-weight: 500;
  border-radius: 0px;
  background: none;
  width: 100% !important;
  border: 1px dashed #d0d0d0;
  padding: 5px 8px;

  &:hover {
    background: #f1f1f1;
  }

  &:focus {
    background: #f5f5f5;
  }
}

.actions {
  margin-top: 10px;
  width: 100%;

  button {
    border-radius: 3px;
  }
}

.actionIcons {
  margin-top: 5px;
}

.bottomSection {
  text-align: center;
}

.textFields {
  width: 50% !important;
  margin-top: 3px;
}
