.section {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.header {
  position: relative;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 20px;

  h4 {
    padding: 15px;
    padding-left: 20px;
    margin: 0px;
    color: gray;
  }

  button {
    position: absolute;
    top: 9px;
    right: 15px;
  }
}

.formButton {
  font-size: 14px;
  color: white;
  background-color: #58d1b0;
  opacity: 0.7;
  border: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  transition: opacity 0.5s ease-in-out, background-color 0.15s ease-in-out;

  &:hover {
    background-color: #58d1b0;
    opacity: 1;
    color: white;
  }
}
