:global(.storm-diagrams-canvas .node.selected) > .standard-node {
  border-color: #028aee !important;
}

.standard-node {
  width: 200px;
  background: white;
  border: 1px solid black;
}

.item {
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-height: 50px;
  border-bottom: 1px solid black;
  font-size: 11px;
}

.item:last-child {
  border-bottom: none;
}

.section-title {
  font-size: 12px;
  font-weight: 600;
  padding: 3px 8px;
  background: #000;
  color: #fff;
}

.section-onEnter .item,
.section-onReceive .item,
.section-next .item {
  padding: 3px 8px;

  &.fn {
    color: blue;
    font-style: italic;
  }

  &.msg {
    color: #00a653;
  }
}

.section-next {
  border-top: 1px solid black;
}

.section-next .item {
  position: relative;
  background: #ececec;
}

.section-next .item :global(.port) {
  position: absolute;
  right: -15px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);

  &:global(.selected) {
    background: rgba(0, 0, 0, 0.5);
  }
}

.topPort {
  width: 100%;
  margin-top: -15px;

  :global(.port) {
    margin: 0 auto;
    border: none;
    background: rgba(0, 0, 0, 0.2);

    &:global(.selected) {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

.startPort :global(.port) {
  background-color: lime !important;
}

.endPort :global(.port) {
  background-color: red !important;
}

.subflowPort :global(.port) {
  background-color: blue !important;
}

.subflowPort .subflow {
  position: relative;
  padding: 5px;
  right: -210px;
  display: inline;
  border-radius: 3px;
  top: -18px;
  background: rgba(0, 0, 0, 0.08);
}
