.list {
  min-height: 85vh;

  .header {
    padding: 5px 0;
    height: 35px;
    margin: 5px 0 0 0;

    :global(.checkbox) {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: -2px;
      height: 18px;
    }

    button {
      height: 25px;
      width: 28px;
      position: relative;

      i {
        position: absolute;
        left: 4px;
        top: 3px;
        font-size: 18px;
        line-height: 18px;
        color: #807f81;
      }

      margin-right: 5px;
    }

    .left {
      .search {
        position: relative;
        width: 300px;
        display: inline-block;
        margin-right: 10px;
        margin-left: 7px;

        :global(.form-control) {
          position: absolute;
          top: -1px;
          height: 25px;
        }
      }
    }

    .right {
      right: 5px;

      .paging {
        margin-right: 10px;
      }
    }
  }

  .container {
    table {
      border: none;

      tr {
        font-size: 90%;
      }

      td {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #e0e0e0;
      }

      :global(.checkbox) {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 20px;
      }

      .selected {
        background-color: rgb(125, 228, 194);
      }
    }
  }

  .empty {
    text-align: center;
    font-weight: bolder;
    margin-top: 35px;
  }
}

.btn_mini {
  height: 23px;
  width: 23px;
  position: relative;
  margin-right: 4px;
  i {
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 16px;
    line-height: 18px;
    color: #807f81;
  }
}
