.typing {
  background-color: red;
  height: 60px;
  border-bottom-right-radius: 10px;
  border-top: solid 1px #ececec;

  h2 {
    margin: 0;
  }

  textarea {
    padding: 18px;
    resize: none;
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: hidden;
  }

  textarea:focus {
    outline: none !important;
  }
}
