.wrapper {
  background: #fff;
  margin-top: var(--spacing-xx-large);
  padding: var(--spacing-x-large) var(--spacing-xx-large) var(--spacing-large);
  border-radius: 5px;

  h1 {
    margin: 0 0 var(--spacing-xx-large);
    font-size: 14px;
    line-height: 1.29;
    color: var(--shark);

    &.noMargin {
      margin: 0;
    }
  }
}

.group {
  display: flex;
  padding: var(--spacing-large) 0 var(--spacing-small);
  border-bottom: 1px solid var(--gray);

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border: none;
    padding-bottom: 0;
  }

  & > .label {
    font-size: 12px;
    line-height: 20px;
    color: var(--shark);
    width: 275px;
    flex-shrink: 0;
  }
}

.variables {
  color: var(--shark);
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  height: 20px;
  border-radius: 3px;
  background-color: var(--bg);
  border: solid 1px var(--bg);
  margin: 0 var(--spacing-small) var(--spacing-medium);
  display: flex;
  align-items: center;
  transition: border 0.3s, background 0.3s;

  .label {
    font-size: 10px;
    line-height: 1.25;
    color: var(--shark);
    margin-left: var(--spacing-small);
  }

  &.active {
    border: solid 1px var(--ocean);
    background-color: var(--hover-ocean);
  }
}

.emptyState {
  margin: auto auto;
}
