.modulePanel {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
  margin-left: 12%;
  margin-right: 12%;
  position: relative;
}

.moduleTitle {
  margin-top: 0px;
  margin-bottom: 15px;
  i {
    vertical-align: bottom;
    padding-right: 10px;
  }
}

.moduleDescription {
  color: gray;
}

.moduleAuthor {
  margin-bottom: 0px;
}

.moduleLicense {
  color: lightgray;
  font-size: small;
  margin-bottom: 0px;
}

.moduleRightSide {
  position: inherit;
}

.moduleIcons {
  text-align: right;
  font-size: 16px;
  i {
    color: gray;
    vertical-align: top;
    font-size: 20px;
    padding-right: 5px;
  }
}

.moduleButton {
  position:absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 15px;
  margin-right: 15px;

  button {
    width: 100px;
    font-size: 15px;
    font-variant: normal;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: gray;
  }

  i {
    vertical-align: middle;
    font-size: 16px;
    padding-top: 2px;
    padding-right: 5px;
    margin-bottom: 5px;
  }
}
