table {
    background-color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #979797;
}

.rbContainer {
    padding: 25px;
}

.result{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    padding: 20px 10px 20px 10px;
    background-color: white;
}

.listgroupitem{
    text-align: left;
    min-height: 56px;
}

.loadindcategories {
    display: "inline-block";
    margin-left: 15; 
    padding: 6;
}