.formSelect {
  display: block;
  padding: 0;
  position: relative;

  :global {
    .bp3-popover-target {
      width: 100%;
    }

    .bp3-menu-item {
      color: var(--shark);
      font-size: 12px;
      line-height: 1.65;
      min-height: 30px;
      display: flex;
      align-items: center;

      &:not(.bp3-active):hover {
        background: var(--bg) !important;
      }
    }

    .bp3-active {
      background: var(--hover-ocean) !important;
      color: var(--shark) !important;
    }

    .bp3-transition-container {
      right: 0;
    }

    .bp3-select-popover {
      width: 100%;
    }

    .bp3-button-text {
      color: var(--shark);
      font-size: 12px;
      line-height: 1.25;
    }
  }

  &,
  > * {
    cursor: pointer;
  }

  button {
    border: 1px solid var(--seashell) !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    color: var(--shark) !important;
    background: #fff !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    justify-content: space-between !important;
    height: 40px !important;
    line-height: 1.25 !important;
    padding: var(--spacing-medium) var(--spacing-large) !important;
    width: 100% !important;

    &:focus,
    &:active {
      outline: 0;
      border-color: var(--ocean) !important;
    }
  }
}

.deleteBtn {
  min-height: 30px !important;
  min-width: 30px !important;
  height: 30px !important;
  width: 30px !important;
  transition: background 0.3s;
  flex-shrink: 0;
  margin-left: var(--spacing-large);

  &:hover {
    background: var(--hover-lighthouse-30) !important;
  }

  svg {
    fill: var(--lighthouse) !important;
  }
}

.dropdownWrapper {
  display: flex;
  align-items: center;

  .formSelect {
    flex-grow: 1;
  }
}

.separator {
  font-size: 8px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--shark);
  padding: var(--spacing-medium) 0;
  display: block;
  text-align: center;
}
