@import 'variables';

@mixin padded {
  padding: 1rem;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  padding-bottom: 10px;
}

.padded {
  @include padded;
}

.filterItem {
  height: 40px;
  justify-content: left;
  width: 220px;
  margin: 10px;
}

.filterContainer {
  margin: 10px 10px 0px 10px;
  span {
    font-size: 10pt;
  }
  :global(.selected),
  :global(.selected):hover {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 1px 2px rgba(16, 22, 26, 0.2);
    background-color: #d8e1e8;
    background-image: none;
  }
}

.contentFixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.contentStretch {
  flex-grow: 1;
  flex-shrink: 1;
}

.sidePanelContentStretch {
  height: 100%;
  overflow-y: hidden;
}

.sideList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
}

.sideListList {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.sideListItem {
  display: flex;
  padding: 7px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background 0.3s;

  &:first-child {
    border-top: 1px solid #eee;
  }

  &:hover {
    background: #eee;
  }

  &.sideListItemSelected {
    font-weight: bold;
    background: #eee;
  }

  svg {
    width: 12px;
    height: 12px;
    position: relative;
    bottom: -3px;
    margin-right: 3px;
  }
}

.sideListItemText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerTabs {
  :global(.bp3-tab-list) {
    background: #fefefe;
    border-bottom: 1px solid #eee;
  }

  :global(.bp3-tab-indicator-wrapper) {
    background: rgba(0, 0, 0, 0.05);
  }

  :global(.bp3-tab-panel) {
    margin-top: 5px;
  }

  :global(.bp3-tab) {
    padding: 2px 8px;
    border-right: 1px solid #eee;
    flex-grow: 1;
  }

  :global(.bp3-tab-list > *:not(:last-child)) {
    margin-right: 0;
  }
}

.mainView {
  height: 100%;

  & > h3 {
    margin-top: 0;
  }

  &Table {
    width: 100%;
  }
}

.thPhrase {
  width: 35%;
}

.thUpdated {
  width: 160px;
}

.thAction {
  width: 85px;
}

.applyAllButton {
  padding: 12px 24px;
}

.withStickyActionBar {
  padding-bottom: $stickyBarHeight;
}

.stickyActionBar {
  background: #fcfcfc;
  bottom: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  left: 0;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 9;

  button {
    margin-left: 5px;
  }

  &Content {
    max-width: 1000px;
    margin: 0 auto;
  }
}
