@mixin padded {
  padding: 1rem;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
}

.padded {
  @include padded;
}

.sidePanelContent {
  @include padded;
}

.contentFixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.contentStretch {
  flex-grow: 1;
  flex-shrink: 1;
}

.sidePanelContentStretch {
  height: 100%;
  overflow-y: hidden;
}

.sideList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sideListList {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
}

.sideListItem {
  padding: 0 0 5px 10px;
  font-size: 120%;
  display: flex;
  svg {
    width: 12px;
    height: 12px;
    position: relative;
    bottom: -7px;
  }
}

.sideListItemText {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
  }
}

.sideListItemSelected {
  .sideListItemText {
    cursor: default;
    font-weight: bold;
    text-decoration: underline;
  }
}

.mainView {
  height: 100%;
  padding-bottom: 40px;
  overflow-y: auto;
}

.applyAllButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
