.header :global(.more-options-selected-option) {
  background: var(--hover-ocean) !important;

  &:hover {
    background: var(--hover-ocean) !important;
  }

  svg {
    fill: var(--shark) !important;
  }
}

.noPadding {
  padding: 0 !important;
}
