@import '~@blueprintjs/core/lib/scss/variables';

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: 100%;
  padding: 10px 15px 75px;
  overflow-y: scroll;
}

.f1Section {
  background-color: $light-gray5;
  margin-top: 25px;
  padding: 10px;
  border-radius: 2px;
}

.f1Container {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  align-items: center;
}

.working {
  display: flex;
  align-items: center;
}
