.invalid input {
  border: 1px solid red;
}

.table {
  td {
    padding: 0;
    position: relative;
  }

  input {
    width: 100%;
  }

  margin-bottom: 0;
}

.keyTip {
  position: absolute;
  right: 15px;
  font-size: 20px;
  top: 11px;
  color: green;
}

.mandatory {
  input {
    font-weight: bold;
  }
}
