.message {
  margin: 10px;
  max-width: 50%;
  svg {
    display: block;
  }
  time {
    font-size: 10px;
    width: 50px;
    display: block;
    text-align: center;
    color: #8e8e8e;
  }

  p {
    margin-bottom: 0px;
    display: block;
    padding: 12px 18px 12px 18px;
    border-radius: 7px;
    max-width: 80%;
  }

  img,
  video {
    max-width: 100%;
    border-radius: 5px;
  }

  audio {
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fafafa;
  }
}

.fromUser {
  float: left;
  margin-left: 15px;
  .icon {
    float: left;
  }
  p {
    float: left;
    background-color: #fff;
    margin-left: 5px;
    border-bottom-left-radius: 0px;
  }
}

.fromBot {
  float: right;
  margin-right: 15px;
  .icon {
    float: right;
  }
  p {
    float: right;
    margin-right: 5px;
    background-color: #fff;
    border-bottom-right-radius: 0px;
  }
  time {
    float: right !important;
  }
}

.fromAgent {
  float: right;
  margin-right: 15px;
  .icon {
    float: right;
  }
  p {
    float: right;
    margin-right: 5px;
    background-color: #10161a;
    color: #fff;
    border-bottom-right-radius: 0px;
  }
  time {
    float: right !important;
  }
}

.fromSystem {
  text-align: center;
  max-width: 100%;

  p {
    color: #a3a3a3;
    max-width: 100%;
  }
}
