<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><?js= title ?> | Botpress Reference</title>

    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <?js= this.assets ?>

    <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>
<body>

<div class="content">

    <div class="py-3 mb-2 bg-faded">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-9">
                        <?js if (title != 'Home') { ?>
                                <h1 ><?js= title ?></h1>
                                <?js } ?>
                        <p class="lead mb-0 text-muted">
                            New to Botpress? This step-by-step tutorial will get you up and running quickly.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                
    <div class="container md-3">
        <div class="row">
            <div class="col-md-9">
                
                <?js= content ?>
            </div>

            <div class="col-md-3 toc-menu">
                <?js= this.nav ?>
            </div>
        </div>
    </div>


</div>


<!-- <br class="clear"> -->

<footer class="footer">
  <div class="container">
    <div class="clearfix">
      <div class="footer-left">
        <span class="footer-item">© 2016–2018 Botpress</span>
        <span class="footer-item"><a href="https://github.com/botpress/botpress/blob/master/LICENSE">GNU Affero General Public License</a></span>
        <span class="footer-item">Generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the Botpress theme.</span>
      </div>
    </div>
  </div>
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
</body>
</html>
