// Layout

.bp-header {
  background-color: var(--c-neutral--dark-1);
  border-bottom: 1px solid #999;

  &__logo {
    width: 100px;
  }

  &__title {
    font-size: 14px;
  }

  .navbar-brand,
  .nav-link {
    color: var(--c-neutral--light-3);
    font-size: 14px;
  }

  .dropdown-toggle.nav-link {
    display: flex;
    align-items: center;
  }

  &__warning {
    background-color: red;
    color: var(--c-neutral--light-3);
    font-size: 12px;
    font-weight: 600;
    text-align: center;

    svg {
      margin-right: 10px;
      margin-top: -2px;
      width: 15px;
    }

    a {
      color: var(--c-neutral--light-3);
      margin: 0;
    }
  }
}

.bp-main-content {
  min-height: calc(100vh - 58px);

  .bp-header__warning + & {
    min-height: calc(100vh - 92px);
  }

  &-header {
    border-bottom: 1px solid var(--c-neutral--light-2);
    padding: 5px;
    margin-bottom: 10px;

    &__nav {
      padding: 0;
    }

    .nav-item {
      &.active .nav-link.disabled {
        color: #007bff;
        cursor: default;
        font-weight: 600;
      }
    }

    .nav-link {
      color: #494949;

      &:hover {
        color: var(--c-neutral--dark-1);
      }

      &.disabled {
        color: #6c757d;
      }
    }
  }

  &-main {
    grid-area: main;
    padding: 20px 40px;
  }

  &__title {
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
