// List items

.list-group-item {
  &,
  &:first-child,
  &:last-child {
    border: 0;
    border-radius: 0;
    margin: 0;
  }

  &:nth-of-type(odd) {
    background-color: var(--c-neutral--light-2);
  }

  &:nth-of-type(even) {
    background-color: #fff;
  }

  &__actions {
    position: absolute;
    top: 7px;
    right: 0;
  }

  &__avatar {
    background: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M11.537 8.835A5.957 5.957 0 0 1 8 10a5.957 5.957 0 0 1-3.537-1.165C1.823 10.144 0 12.86 0 16h16c0-3.14-1.823-5.856-4.463-7.165z" fill="#ddd"/><circle fill="#ddd" cx="8" cy="4" r="4"/><path d="M0 0h16v16H0z"/></g></svg>')
      no-repeat center center;
    display: inline-block;
    margin-right: 5px;
  }

  &-heading {
    font-size: 1.2em;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &__permissions {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem 0 0;
  }

  .btn-link {
    font-size: 12px;
    position: relative;

    &:last-child:not(:first-child):before {
      content: "";
      background-color: #ccc;
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 1px;
    }

    &:hover {
      color: var(--primary);
    }
  }
}

.actions-table-row {
  border-bottom: 1px solid var(--c-neutral--light-1);
  padding: 5px 0;

  &:last-child {
    border-bottom: 0;
  }
}

.actions-table-row__buttons {
  display: none;

  .modal-dialog & {
    display: block;
  }
}

@include media-breakpoint-up(sm) {
  .actions-table-row__buttons .btn {
    visibility: hidden;
    .actions-table-row:hover & {
      visibility: visible;
    }
  }
}

abbr {
  cursor: help;
  position: relative;
  text-decoration: underline dotted;

  &:hover::after {
    content: attr(data-title);
    background: var(--c-neutral--light-1);
    color: var(--c-neutral--dark-1);
    display: table;
    font-size: 12px;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: auto;
    z-index: 9;
  }
}
