// Tables

.bp_table {
  border: 1px solid #e1e4e8;
  border-radius: 3px 3px 3px 3px;
  padding: 0 1px;

  &-row {
    border-bottom: 1px solid #e1e4e8;
    padding: 5px 5px 5px 8px;
    min-height: 60px;

    &:hover {
      background: #fbfbfb;
    }
  }

  .title {
    font-weight: bold;
    display: block;
  }

  .actions {
    float: right;
    color: #dfdfdf !important;
  }

  p {
    font-size: 12px;
    color: #586069;
    margin-bottom: 0px;
  }
}

.bp-licensing {
  font-size: 12px;
  line-height: 1.25;
  table-layout: fixed;

  thead th {
    border: none;
  }

  tr:nth-child(odd) td {
    background-color: #f1f1f1;
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }

  .btn-sm {
    border: 0;
    font-size: 12px;
    margin: 0;
    padding: 0 0.5rem;
    position: relative;

    &:last-child:not(:first-child):before {
      content: '';
      background-color: #ccc;
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 1px;
    }
  }

  &__check {
    color: green;
    font-size: 16px;
  }

  .table-cell--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
