.bot_views {
  .actions {
    float: right;

    .more {
      margin-left: 5px;
      cursor: pointer;
      color: #555;

      &:hover {
        color: #000;
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}

.pipeline_view {
  .createbot_btn {
    display: flex;
    margin: auto;
    align-items: center;
  }

  .pipeline_title {
    background-color: #f7f7f7;
    line-height: 2.5;
    margin-bottom: 15px;
    padding: 15px 0;
    position: relative;
    text-align: center;

    h3 {
      margin: 0;
    }
  }

  .pipeline_edit-button {
    background: none;
    border: none;
    box-shadow: none;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    transition: all 0.3s;

    &:focus, &:active {
      outline: none;
    }
  }

  .pipeline_bot {
    border: solid 1px #e1e4e8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

    &:hover {
      border-color: #ced2d6;
    }

    &.create {
      text-align: center;
      border-style: dashed;
      padding: 20px;
    }

    .botbadge {
      margin-right: 5px;
      padding: 2px;
      font-size: 70%;
    }
  }
}

.compact_view {
  .botbadge {
    margin-left: 10px;
    font-size: 65%;
  }

  .actions button {
    margin-right: 10px;
  }
}

.filterField {
  margin-bottom: 10px;
}

.filterCallout {
  text-align: center;
  margin-bottom: 10px;
}
