.profile {
  background-color: #fff;
  padding: 0px;
  .attributes {
    padding-top: 30px;
    .attribute {
      padding: 15px 3px;
      margin: 18px;
      border-bottom: 1px solid #eee;
      .label {
        font-weight: bold;
        padding: 0px;
      }
      .value {
        padding: 0px;
        text-align: right;
      }
    }
  }
  .header {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #ebecf1;
    h3 {
      font-size: 18px;
      text-align: center;
      font-weight: 600;
      margin-top: 0px;
    }
    h5 {
      margin-top: 0px;
      color: #b1b1b1;
    }
    .profilePic {
      margin: 15px 10px 15px 10px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: inline-block;
      background-color: #e2e2e2;
    }
  }
}
