.profile {
  background-color: #fff;
  padding: 0px;

  .header {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #ebecf1;
    h3 {
      font-size: 18px;
      text-align: center;
      font-weight: 600;
      margin-top: 0px;
    }
    h5 {
      margin-top: 0px;
      color: #b1b1b1;
    }
    .profilePic {
      margin: 15px 10px 15px 10px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: inline-block;
      background-color: #e2e2e2;
    }
  }
}
