:global(.modal-dialog) {
  width: 750px;
}

.textArea {
  font-size: 16px;
  overflow-y: scroll;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  border-color: lightgrey;
  margin: 10px 0px 10px 0px;
}
