.footer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  height: 20px;
  font-size: 12px;
  color: #9a9a9a;

  span {
    .flex-minimal {
      height: 20px;
      position: relative;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      display: flex;

      .element {
        display: flex;
        align-items: center;

        span {
          i {
            vertical-align: middle;
            display: inline;
            margin: -3px 2px;
            font-style: italic;
            text-align: center;
            padding: 0;
          }

          a {
            font-weight: 500;

            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }

  .enter-prompt {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;

    a {
      display: flex;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;

      text-decoration: none;

      i {
        vertical-align: middle;
        display: inline;
        margin: 2px 6px;
        text-align: center;
        padding: 0;

        svg {
          fill: currentColor;
        }
      }
    }
  }
}
