$header-bg-color: #b0aeb2;

.platform {
  background-color: $header-bg-color;
  position: relative;
  height: 50px;

  padding: 9px 10px;

  :global(.form-control) {
    width: 160px;
  }

  .saveButton {
    position: absolute;
    right: 10px;
    top: 9px;
  }
}
