$header-bg-color: #B0AEB2;

.platform {
  background-color: $header-bg-color;
  position: relative;
  height: 50px; 

  padding: 9px 10px;

  :global(.form-control) {
    width: 160px;
  }

  .saveButton {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 9px;
    transition: opacity 0.5s ease;
  }

  .changedButton {
    opacity: 1;
  }
}