@import '~@blueprintjs/core/lib/scss/variables';

* {
  box-sizing: border-box;
  outline: none;
}

.hovering {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.container2 {
  width: 240px;
  height: 100vh;
  position: relative;
  border: none;
  background-color: white;
}

.header {
  padding: 0 var(--spacing-large) var(--spacing-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  :global {
    .more-options-btn {
      height: 32px;
      width: 16px;
      right: var(--spacing-large);
      cursor: pointer;

      span {
        height: 4px;
        width: 4px;

        &:before {
          height: 4px;
          width: 4px;
          left: -6px;
        }

        &:after {
          height: 4px;
          width: 4px;
          right: -6px;
        }
      }
    }

    .more-options-more-menu {
      right: -6px;
      top: 17px;
    }

    .bp3-tab {
      text-transform: uppercase;
      font-weight: bold;
    }

    .bp3-tab {
      height: 23px;
      line-height: 23px;
    }

    .bp3-navbar-group {
      height: 23px;
    }

    .bp3-tab[aria-selected='true'] {
      color: var(--shark) !important;
      border-top: 2px solid var(--ocean);
    }

    .bp3-tab[aria-selected='false'] {
      color: #e3e3e3;
    }

    .bp3-tab {
      background: none;
      border: none;
      border-top: 2px solid transparent;
      display: block;
      color: var(--shark);
      font-size: 12px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 var(--spacing-x-large) 0 0;
      padding: 0;
      padding-top: var(--spacing-medium);
      transition: border 0.3s;
    }

    .bp3-tab-indicator-wrapper {
      display: none;
    }

    .bp3-tab-indicator {
      background-color: var(--ocean) !important;
    }
  }
}

.splash {
  display: flex;
  align-items: center;
  height: 100%;

  > div {
    text-align: center;
    margin: auto;
    padding: var(--spacing-medium) var(--spacing-large);

    .debuggerIcon {
      display: block;
      margin-bottom: var(--spacing-x-large);
    }

    ul {
      text-align: left;
      padding: 0 0 0 30px;
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
      color: var(--shark)
    }

    p {
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
      color: var(--shark);
    }
  }
}

.notFound {
  > div {
    width: 95%;
  }
}

.content {
  padding: 10px var(--spacing-large);
  height: calc(100% - 50px);
  overflow-y: auto;
}

.inspectorContainer {
  height: 100%;
  padding: var(--spacing-medium) var(--spacing-large);
  margin: var(--spacing-medium) 0 var(--spacing-small);
}

.inspector {
  overflow-x: auto;
  background-color: var(--c-background-dark-2);
  height: 100%;
  width: 100%;

  li:first-child {
    padding-top: 0 !important;
  }

  & > ul {
    margin: none;
    padding-left: 5px;

    li {
      position: relative;

      & > label {
        :global(.bp3-icon) {
          cursor: pointer;
          position: absolute;
          left: -5px;
          top: 0px;
          display: none;
        }
      }
    }

    label:hover :global(.bp3-icon) {
      display: unset;
    }
  }
}

:global(.bp3-tooltip .bp3-popover-content) {
  padding: 5px 8px !important;
}

.stacktrace {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.triggersContainer {
  display: flex;

  .group {
    width: 200px;
  }
}

.triggerGroup {
  display: flex;
}

.percentBar {
  margin-right: 10px;

  .container {
    text-align: center;
  }

  .barContainer {
    height: 50px;
    width: 12px;
    padding: 2px;
    display: flex;
    border: 1px solid black;

    .bar {
      background-color: blue;
      width: 10px;
      margin-top: auto;
    }
  }
}

.switchViewBtn {
  margin: var(--spacing-small) 0 var(--spacing-medium);

  :global(.bp3-button-text) {
    color: var(--ocean) !important;
    transition: color 0.3s;
  }

  svg {
    fill: var(--ocean) !important;
    transition: fill 0.3s;
  }

  &:hover {
    background: #fff !important;

    :global(.bp3-button-text) {
      color: var(--hover-ocean) !important;
    }

    svg {
      fill: var(--hover-ocean) !important;
    }
  }
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.canShowFull {
  cursor: pointer;
  padding-right: var(--spacing-medium);
}

.content > .section {
  margin-top: 0;
}

.section {
  margin-top: var(--spacing-large);

  p, a {
    color: var(--shark);
    font-size: 12px;
    line-height: 1.25;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: var(--spacing-medium) 0;
    padding: 0 0 0 var(--spacing-medium);
    border-left: 1px solid var(--seashell);

    li {
      color: var(--shark);
      font-size: 12px;
      line-height: 1;
      margin-top: var(--spacing-small);

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .processingItem {
    &.processingSection {
      margin-bottom: var(--spacing-medium);

      & + ul {
        margin-top: 0;
      }
    }

    &.error {
      color: var(--lighthouse);

      .error {
        margin: 0 0 0 var(--spacing-small);
        svg {
          fill: var(--lighthouse);
        }
      }
    }

    svg {
      fill: var(--gray);
    }

    :global(.bp3-icon) {
      margin-right: var(--spacing-medium);
    }

    :global(.bp3-icon-small-cross) {
      svg {
        fill: var(--lighthouse);
      }
    }

    .itemButton {
      background: none;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0;
      color: var(--shark);
      transition: color 0.3s;
      text-align: left;

      svg {
        transition: fill 0.3s;
      }

      &:hover {
        color: var(--ocean);

        svg {
          fill: var(--ocean);
        }
      }
    }

    .expanded {
      display: block;
      width: 100%;
    }

    .infoBox {
      display: block;
      padding: var(--spacing-medium);
      border-radius: 3px;
      margin-top: var(--spacing-medium);
      border: 1px solid var(--seashell);
      font-size: 10px;
      font-weight: 400;
      line-height: 1.5;
      color: var(--shark);
    }

    .time {
      color: var(--gray);
      font-size: 10px;
      line-height: 1.5;
    }
  }

  a {
    color: var(--ocean);
  }

  .confidence {
    margin-left: var(--spacing-small);
  }
}

.sectionTitle {
  color: var(--shark);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.08;
  margin: 0 0 var(--spacing-small);

  &.processingSection {
    font-weight: 400;
  }
}

.collapsibleContainer {
  .subSection {
    margin-top: var(--spacing-medium);
  }

  :global {
    .bp3-button {
      padding: 0;

      .bp3-icon {
        margin-right: var(--spacing-large);
      }

      svg {
        fill: var(--shark);
      }

      .bp3-button-text {
        color: var(--shark);
        font-size: 12px;
        line-height: 1.25;
      }
    }
  }
}
