@import '~@blueprintjs/core/lib/scss/variables';

* {
  box-sizing: border-box;
  outline: none;
}

.block {
  margin-bottom: 15px;
  padding: 15px;
  background: #f5f5f5;
  color: #353535;
  .title {
    display: flex;
    justify-content: space-between;
  }
  .subSection {
    margin: 15px 5px;
    h5 {
      margin-bottom: 5px;
    }
    strong {
      color: #0e5a8a; //blueprint primary
    }
    ul {
      margin: 5px 0;
      padding-left: 15px;
      li {
        line-height: 1.5em;
      }
    }
    .language {
      > p {
        margin-bottom: 5px;
      }
      strong {
        color: #5c7080; //blueprint gray-1
      }
    }
  }
  .summaryTable {
    width: 100%;

    th {
      color: #5c7080; //blueprint gray-1
    }
  }
}

.hovering {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.container2 {
  width: var(--debugger-width);
  height: 100vh;
  position: relative;
  border-right: 1px solid var(--seashell);
  border-right: none;
  background-color: white;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--spacing-large) var(--spacing-medium);
  position: relative;

  :global {
    .bp3-tab {
      text-transform: uppercase;
      font-weight: bold;
    }

    .bp3-tab {
      height: 23px;
      line-height: 23px;
    }

    .bp3-navbar-group {
      height: 23px;
    }

    .bp3-tab[aria-selected='true'] {
      color: var(--shark) !important;
      border-top: 2px solid var(--ocean);
    }

    .bp3-tab[aria-selected='false'] {
      color: #e3e3e3;
    }

    .bp3-tab {
      background: none;
      border: none;
      border-top: 2px solid transparent;
      display: block;
      color: var(--shark);
      font-size: 12px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 var(--spacing-x-large) 0 0;
      padding: 0;
      padding-top: var(--spacing-medium);
      transition: border 0.3s;
    }

    .bp3-tab-indicator-wrapper {
      display: none;
    }

    .bp3-tab-indicator {
      background-color: var(--ocean) !important;
    }
  }
}

.splash {
  display: flex;
  align-items: center;
  height: 100%;

  > div {
    text-align: center;
    margin: auto;
    width: 80%;
    color: #353535;
    padding-bottom: 20%;
    svg {
      font-size: 110px;
      color: $light-gray3;
    }
    h2 {
      margin: 10px 0;
    }
  }
}

.notFound {
  > div {
    width: 95%;
  }
}

.content {
  padding: 10px var(--spacing-large);
  height: calc(100% - 50px);
  overflow-y: auto;
}

.inspectorContainer {
  height: 100%;
}

.inspector {
  overflow-x: hidden;
  background-color: var(--c-background-dark-2);
  height: 100%;
  width: 100%;

  & > ul {
    margin: none;
    padding-left: 5px;

    li {
      position: relative;

      & > label {
        :global(.bp3-icon) {
          cursor: pointer;
          position: absolute;
          left: -5px;
          top: 0px;
          display: none;
        }
      }
    }

    label:hover :global(.bp3-icon) {
      display: unset;
    }
  }
}

:global(.bp3-tooltip .bp3-popover-content) {
  padding: 5px 8px !important;
}

.stacktrace {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.triggersContainer {
  display: flex;

  .group {
    width: 200px;
  }
}

.triggerGroup {
  display: flex;
}

.percentBar {
  margin-right: 10px;

  .container {
    text-align: center;
  }

  .barContainer {
    height: 50px;
    width: 12px;
    padding: 2px;
    display: flex;
    border: 1px solid black;

    .bar {
      background-color: blue;
      width: 10px;
      margin-top: auto;
    }
  }
}

.truncate {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsibleContainer {
  border: 1px solid #d8e1e8;
}
