$content-bg-color: #FFFFFF;

.manage {
  min-height: 85vh;
  background-color: $content-bg-color;

  .header {
    position: relative;
    height: 40px;
    margin: 5px 0;

    :global(.checkbox) {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: -2px;
      height: 18px;
    }

    button {
      height: 30px;
      width: 34px;
      position: relative;
      
      i {
        position: absolute;
        left: 6px;
        top: 6px;
        font-size: 18px;
        line-height: 18px;

        color: #807F81;
      }

      margin-right: 8px;
    }

    .left, .right {
      position: absolute;
      top: 5px;
    }

    .left {  
      left: 0px;

      .search {
        position: relative;
        width: 300px;
        display: inline-block;
        margin-right: 100px;
        margin-left: 100px;

        :global(.form-control) {
          position: absolute;
          top: -4px;

          height: 30px;
        }
      }
      
    }

    .right {
      right: 5px;

      .paging {
        margin-right: 10px;
      }
    }
  }

  .container {
    margin-right: 13px;

    table {
      :global(.checkbox) {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 20px;
      }

      .item {
        cursor: pointer;
      }
    }
  }

  .empty {
    text-align: center;
    font-weight: bolder;
    margin-top: 35px;
  }
}
