$background-color: #eee;
$sidebar-color: #242424;
$sidebar-hover-color: #111111;
$content-color: #ffffff;
$boxes-color: #ffffff;
$header-color: #ffffff;
$icons-color: #535353;
$header-border-color: #ffffff;

$content-color-darker: #2f2f2f;
$content-color-dark: #434343;
$content-color-normal: #434343;
$content-color-primary-title: #2e948f;
$content-color-light: #999;
$content-color-lighter: #bfbfbf;

$text-color: #ffffff;
$warning-color: #eaa600;
$danger-color: #d14319;
$primary-color: #58d1b0;
$success-color: #56b149;

$btn-text-color: #ffffff;

$btn-bg-color: #46cba0;
$btn-bg-color-hover: #40bd94;

$btn-default-bg-color: #b1b1b1;
$btn-default-bg-color-hover: #a5a5a5;

$btn-danger-bg-color: #af4f4b;
$btn-danger-bg-color-hover: #b13434;

$sidebar-text-color: #aaa;
$sidebar-primary-color: #58d1b0;
