$background-color: #eee;
$sidebar-color: #242424;
$sidebar-hover-color: #111111;
$content-color: #ffffff;
$boxes-color: #FFFFFF;
$header-color: #FFFFFF;
$icons-color: #535353;
$header-border-color: #FFFFFF;

$content-color-darker: #2f2f2f;
$content-color-dark: #434343;
$content-color-normal: #434343;
$content-color-primary-title: #2e948f;
$content-color-light: #999;
$content-color-lighter: #bfbfbf;

$warning-color: #EAA600;
$danger-color: #D14319;
$primary-color: #58d1b0;
$success-color: #56B149;

$primary-btn-color: #46CBA0;

$sidebar-text-color: #aaa;
$sidebar-primary-color: #58d1b0;
