$background-color: #f9f1ee;
$sidebar-color: #322a27;
$sidebar-hover-color: #28211f;
$content-color: #ffffff;
$boxes-color: #fafafa;
$header-color: #f9f1ee;
$icons-color: #ffffff;
$header-border-color: #eee6e3;

$content-color-darker: #3f3734;
$content-color-dark: #554d4a;
$content-color-normal: #a8a09d;
$content-color-light: #aca4a1;
$content-color-lighter: #ffffff;

$warning-color: #f8c047;
$danger-color: #fc815c;
$primary-color: #ffffff;
$success-color: #7ec800;


$sidebar-text-color: #f5eeeb;
$sidebar-primary-color: $danger-color;
