$background-color: #eee;
$sidebar-color: #242424;
$sidebar-hover-color: #111111;
$content-color: #ffffff;
$boxes-color: #FFFFFF;
$header-color: #FFFFFF;
$icons-color: #535353;
$header-border-color: #FFFFFF;

$content-color-darker: #2f2f2f;
$content-color-dark: #434343;
$content-color-normal: #434343;
$content-color-primary-title: #2e948f;
$content-color-light: #999;
$content-color-lighter: #bfbfbf;

$text-color: #FFFFFF; 
$warning-color: #EAA600;
$danger-color: #D14319;
$primary-color: #58d1b0;
$success-color: #56B149;

$btn-text-color: #FFFFFF;

$btn-bg-color: #46CBA0;
$btn-bg-color-hover: #40BD94;

$btn-default-bg-color: #B1B1B1;
$btn-default-bg-color-hover: #A5A5A5;

$btn-danger-bg-color: #AF4F4B;
$btn-danger-bg-color-hover: #B13434;

$sidebar-text-color: #aaa;
$sidebar-primary-color: #58d1b0;


// New design - Version 1.0

$color-main: #46CBA0;
$color-main-hover: #40BD94;
$color-gray-icons: #848484;
$color-dark-text: #1b1d1f;
$color-light-text: #9a9a9a;
$color-gray-bg: #F6F9FC;
$color-white-bg: #ffffff;
$color-seperative-lines: #e5e5e5;

$color-button-primary: #00BD83;
$color-button-primary-hover: #00CE90;

$color-button-inactive: #B1B1B1;
$color-button-inactive-hover: #BFBFBF;