@import './palette.scss';
@import './react-bootstrap.scss';
@import './mixins.scss';

a {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,color .15s ease-in-out;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: $color-gray-bg;
  color: $color-dark-text;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

b {
  font-weight: 500;
}

:global(.panel) {
  border: none;
  border-radius: 5px;
  box-shadow: 8px 0px 40px 0px rgba(0, 0, 0, 0.04);
  background-color: #fff;

  :global(.panel-heading) {
    padding: 15px 20px;
    border-color: $color-gray-bg;
    background-color: $color-white-bg;    
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 350;
  }
}

:global(.form-control:focus) {
  border-color: #E9E7EB;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(86,192,178, .6);
}

:global(.navbar-inverse .navbar-toggle) {
  display: none;
}

:global(.bp-primary-color-text) {
  color: $color-main;
}

:global(.bp-primary-color-bg) {
  color: $color-white-bg;
  background-color: $color-main;
}

:global(.bp-button) {
  color: $color-white-bg;
  background-color: $color-main;
  
  min-width: 80px;
  display: inline-block;
  
  font-size: 12px;
  font-variant: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  
  margin: 1px 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;

  border: none;
  border-radius: 20px;
  min-width: 100px;
    
  outline: 0;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,color .15s ease-in-out;

  &:hover, &:focus, &:active {
    color: $btn-text-color;
    background-color: $btn-bg-color-hover;
    outline: 0;
    box-shadow: none;
    border: none;
  }
}

:global(.bp-button-default) {
  background-color: $btn-default-bg-color;

  &:hover, &:focus {
    background-color: $btn-default-bg-color-hover;
  }
}

:global(.bp-button-danger) {
  background-color: $btn-danger-bg-color;

  &:hover, &:focus {
    background-color: $btn-danger-bg-color-hover;
  }
}

 :global(.modal-dialog .modal-content) {
  background-color: $color-white-bg;
  border-radius: 5px;
  border: none;
 }

:global(.table-bordered > tbody > tr > td) {
  border: 1px solid $color-gray-bg;
}

:global(.table-bordered > thead > tr > th) {
  border: 1px solid $color-gray-bg;
}

:global(.table-bordered){
  border: 1px solid $color-gray-bg;
}

:global(.table thead tr th) {
  font-weight: 400;
}
