.umm {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;

  td {
    vertical-align: top;
  }

  .left {
    width: 20%;
    float: left;
  }

  .center {
    width: 40%;
    float: left;
  }

  .right {
    width: 40%;
    float: left;
  }
}