.umm {
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  .left {
    width: 20%;
    float: left;
  }

  .center {
    width: 40%;
    float: left;
  }

  .right {
    width: 40%;
    float: left;
  }
}
