@import '../../palette.scss';

.information {
  height: 255px;
  padding: 15px 25px 15px 25px;
  position: relative;
}

.informationName {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: $content-color-normal;
}

.informationDescription {
  color: $content-color-light;
  font-weight: lighter;
}

.informationAuthor {
  strong {
    font-weight: bolder;
  }
}

.informationVersion {
  color: $content-color-light;
  margin-bottom: 5px;
}

.informationLicense {
  a:hover {
    color: $sidebar-primary-color;
  }
}

.whereFrom {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 12px;
  color: $content-color-lighter;
}
