.emptyState {
  margin: auto 0;
}

.searchBar {
  padding: 0 0 var(--spacing-medium) !important;

  input {
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px var(--gray);
    box-shadow: none !important;
    color: var(--shark);
    font-size: 12px;
    line-height: 1.25;
    padding: 8px 6px 5px;
    transition: border 0.3s;
    width: 100%;

    &:hover {
      border: solid 1px var(--reef);
    }

    &:focus {
      border: solid 1px var(--ocean);
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      color: var(--reef);
    }
  }

  svg {
    fill: var(--gray) !important;
  }
}

.treeItem {
  align-items: center;
  color: var(--shark) !important;
  display: flex !important;
  font-size: 12px !important;
  justify-content: flex-start;
  line-height: 1.25 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  transition: background 0.3s;
  width: 100% !important;

  :global {
    .bp3-button-text {
      flex-grow: 1;
    }
  }

  &.isTopic:hover {
    background: none !important;
  }

  &:not(.isTopic) {
    &:hover {
      background: var(--seashell);
    }

    &.active {
      background: var(--hover-ocean);
    }
  }
}

.topicName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  background: var(--seashell);
  border-radius: 3px;
  color: var(--shark);
  flex-shrink: 0;
  font-size: 8px;
  padding: 6px 6px 5px;
}

.tree {
  display: flex;
  flex-direction: column;
  height: calc(100% - 42px);
  overflow: auto;
  padding: var(--spacing-small) var(--spacing-x-large) 0 var(--spacing-large);

  :global {
    .default {
      border-top: 1px solid var(--gray);
      padding: var(--spacing-medium) 0;

      &:not(.empty) {
        margin-top: auto;
      }
    }
  }
}

.inlineEditing {

  :global(.bp3-icon) {
    margin-right: 7px;
  }

  &:not(.isTopic) {
    input {
      padding: 7px 6px 6px;
    }
  }

  &:hover, &.active {
    background: #fff !important;
  }

  input {
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px var(--ocean);
    color: var(--shark);
    font-size: 12px;
    line-height: 1.25;
    margin-left: -7px;
    padding: 7px 6px 6px;
    width: 100%;

    &::placeholder {
      opacity: 1;
      color: var(--reef);
    }
  }
}

.contextMenu {
  border-radius: 2px;
  box-shadow: 0 8px 24px 0 rgba(16, 22, 26, 0.4);

  :global {
    .bp3-text-overflow-ellipsis {
      display: none;
    }

    .bp3-intent-danger {
      .bp3-menu-item-label {
        color: var(--lighthouse) !important;
      }

      &:hover {
        background: var(--hover-lighthouse-30) !important;
      }
    }
  }
}

.addBtn {
  color: var(--ocean) !important;
  display: block !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  padding-left: var(--spacing-small) !important;
  margin-top: 0;
  transition: background 0.3s;
  width: 100%;

  svg {
    fill: var(--ocean) !important;
    width: 12px !important;
  }

  &:focus {
    color: var(--ocean) !important;
    background:  #fff !important;
  }

  &:hover {
    color: var(--ocean) !important;
    background:  var(--hover-ocean) !important;
  }
}

.inputLabel {
  cursor: pointer;
  margin: 0;
  vertical-align: middle;
}

.importInput {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
