.inputError {
  border-color: red !important;
}

.listElement {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.listElementValue {
  width: 100%;
}

.listElementIcon {
  padding-left: 10px;
}
