:global(.form-control) {
  margin-bottom: 5px;
}

:global(.panel-body) {
  color: gray;
}

:global(.has-success .input-group-addon) {
  color: #434343;
  background-color: #f6f9fc;
  border-color: #e6ebee;
}

.section {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.header {
  position: relative;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 20px;

  h4 {
    padding: 15px;
    padding-left: 20px;
    margin: 0px;
    color: gray;
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.messagePanel {
  color: gray;
}

.insideRadioFormGroup {
  margin-top: 7px;
}
