.baseNode {
  width: 200px;
  background-color: #ededed;
  border: 1px solid #dedede;
  border-radius: 10px;
  overflow: hidden;

  :global(.port) {
    background: rgba(0, 0, 0, 0.2);

    &:global(.selected) {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .header {
    background: #a1c6e8;
    color: #ffffff;
    height: 20px;
    padding: 2px 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  .content {
    padding: 4px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-height: 78px;
    overflow-y: scroll;
    font-size: 12px;
  }

  .ports {
    .in {
      position: absolute;
      bottom: 0px;
      left: -8px;
    }
    .out {
      position: absolute;
      bottom: 0px;
      right: -8px;
    }
  }
}

.highlightedNode {
  box-shadow: 0 0 0 4pt #ffde33;
}

.nodeSaySomething {
  .header {
    background: #a1c6e8;
    color: #ffffff;
  }
}

.nodeExecute {
  .header {
    background: #d5a5bc;
    color: #ffffff;
  }
}

.nodeListen {
  .header {
    background: #ffe699;
    color: #000000;
  }
}

.nodeAction {
  .header {
    background: #397eff;
    color: #000000;
  }
}

.nodeTrigger {
  .header {
    text-align: center;
    background: #ffde33;
    color: #000000;
    .fullSize {
      width: 100%;
    }
  }

  &Conditions {
    list-style: none;
    padding: 5px;
    margin: 0;

    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.nodeRouter {
  .header {
    background: #a1c4c9;
    color: #000000;
  }

  .content {
    overflow: auto;
    max-height: 250px;
  }
}

.nodeSuccess {
  .header {
    background: #3bcf00;
    color: #000000;
  }
}

.nodeFailure {
  .header {
    background: #eb4034;
    color: #000000;
  }
}

.section-next .item :global(.port) {
  background: rgba(0, 0, 0, 0.2);

  &:global(.selected) {
    background: rgba(0, 0, 0, 0.5);
  }
}
