.srd-node--selected>.baseNode {
  border: 1px solid #48AFF0;
}

.baseNode {
  background-color: #FCFCFC;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 8px 18px;
  width: 200px;

  :global(.port) {
    border-radius: 3px;
    height: 10px;
    width: 10px;
    background: #D1E5F2;

    &:global(.selected) {
      background: rgba(19, 124, 189, 0.5);
    }
  }

  .header {
    background: #D1E5F2;
    border-radius: 15px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    height: 20px;
    justify-content: space-between;
    padding: 3px 8px 2px;

    & > span + span {
      margin-left: 4px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .content {
    padding: 8px 0 0;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-height: 78px;
    overflow-y: scroll;
    font-size: 12px;
  }

  .ports {
    .in {
      position: absolute;
      bottom: 20%;
      left: 0;
      transform: translate(-50%, 0);
    }
    .out {
      position: absolute;
      bottom: 20%;
      right: 0;
      transform: translate(50%, 0);
    }
  }
}

.highlightedNode {
  box-shadow: 0 0 0 4pt #ffde33;
}

.nodeSaySomething {
  .header {
    background: #D1E5F2;
    color: #182026;
  }
}

.nodeExecute {
  .header {
    background: #d5a5bc;
    color: #182026;
  }
}

.nodeListen {
  .header {
    background: #ffe699;
    color: #182026;
  }
}

.nodeAction {
  .header {
    background: #397eff;
    color: #000000;
  }
}

.nodeTrigger {
  .header {
    text-align: center;
    background: #ffde33;
    color: #000000;
    .fullSize {
      width: 100%;
    }
  }

  &Conditions {
    list-style: none;
    padding: 5px;
    margin: 0;

    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.nodeRouter {
  .header {
    background: #a1c4c9;
    color: #182026;
  }

  .content {
    overflow: auto;
    max-height: 250px;
  }
}

.nodeSuccess {
  .header {
    background: #3bcf00;
    color: #000000;
  }
}

.nodeFailure {
  .header {
    background: #eb4034;
    color: #000000;
  }
}

.section-next .item :global(.port) {
  background: rgba(0, 0, 0, 0.2);

  &:global(.selected) {
    background: rgba(0, 0, 0, 0.5);
  }
}
