.newChoice {
  margin: 10px 0;
  padding: 5px;
  font-size: 18px;
  width: 100%;
  border-radius: 2px;
}

.action {
  color: #276ecc;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.keywords {
  color: #999;
  font-size: 80%;
}

.content {
  padding: 10px 0;

  label {
    margin-right: 5px;
  }

  textarea {
    margin: 0px;
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 15px;
  }
}

.sortableHelper {
  z-index: 10000;
}
