.label-colors-1 {
  background-color: blue;
  color: white;

  &:hover {
    background-color: #0559ff;
  }
}

.label-colors-2 {
  background-color: red;
  color: white;

  &:hover {
    background-color: #ff3653;
  }
}

.label-colors-3 {
  background-color: yellow;
  color: black;

  &:hover {
    background-color: #f7f53a;
  }
}

.label-colors-4 {
  background-color: green;
  color: white;

  &:hover {
    background-color: #0a9c12;
  }
}

.label-colors-5 {
  background-color: teal;
  color: white;

  &:hover {
    background-color: #009d9d;
  }
}

.label-colors-6 {
  background-color: #fd02ff;
  color: white;

  &:hover {
    background-color: #dd3dff;
  }
}

.label-colors-7 {
  background-color: #ff00aa;
  color: white;

  &:hover {
    background-color: #ff32a8;
  }
}

.label-colors-8 {
  background-color: orange;
  color: white;

  &:hover {
    background-color: #ff6b2f;
  }
}

.label-colors-9 {
  background-color: rgb(114, 170, 170);
  color: white;

  &:hover {
    background-color: rgb(74, 102, 102);
  }
}

.label-colors-10 {
  background-color: rgb(185, 97, 126);
  color: white;

  &:hover {
    background-color: rgb(170, 87, 115);
  }
}

.label-colors-11 {
  background-color: rgb(211, 162, 72);
  color: white;

  &:hover {
    background-color: rgb(168, 126, 47);
  }
}

.label-colors-12 {
  background-color: rgb(110, 96, 160);
  color: white;

  &:hover {
    background-color: rgb(104, 97, 129);
  }
}
