.label-colors-0 {
  background-color: rgb(110, 96, 160);
  color: white;

  &:hover {
    background-color: rgb(104, 97, 129);
  }
}

.label-colors-1 {
  background-color: #6699cc;
  color: white;

  &:hover {
    background-color: darken(#6699cc, 10%);
  }
}

.label-colors-2 {
  background-color: #ff3c38;
  color: white;

  &:hover {
    background-color: darken(#ff3c38, 10%);
  }
}

.label-colors-3 {
  background-color: #fff275;
  color: black;

  &:hover {
    background-color: darken(#fff275, 10%);
  }
}

.label-colors-4 {
  background-color: teal;
  color: white;

  &:hover {
    background-color: #009d9d;
  }
}

.label-colors-6 {
  background-color: #ff8c42;
  color: white;

  &:hover {
    background-color: darken(#ff8c42, 10%);
  }
}

.label-colors-7 {
  background-color: #a23e48;
  color: white;

  &:hover {
    background-color: darken(#a23e48, 10%);
  }
}

.label-colors-8 {
  background-color: rgb(185, 97, 126);
  color: white;

  &:hover {
    background-color: rgb(170, 87, 115);
  }
}

.label-colors-9 {
  background-color: rgb(211, 162, 72);
  color: white;

  &:hover {
    background-color: rgb(168, 126, 47);
  }
}

.label-colors-10 {
  background-color: #86bbd8;
  color: black;

  &:hover {
    background-color: darken(#86bbd8, 10%);
  }
}
