@import '../../palette.scss';

.dragging {
  border: 1px dashed #666;
}

.middlewareList {
  :global(.list-group-item) {
    padding: 0;
  }
}

.header {
  padding: 20px;

  h4 {
    display: inline;
    margin: 10px 0;
  }

  .help {
    font-size: 12px;
    margin-left: 10px;
    color: $content-color-primary-title;

    &:hover {
      cursor: default;
      color: $primary-color;
    }
  }
}

.footer {
  height: 5px;
  background-color: #fbfbfb;
}

.middleware {
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    color: #666;
    background-color: #f6f6f6;
  }

  h4 {
    color: $content-color-primary-title;
    transition: color 0.5s ease-in-out;
  }

  transition: background-color 0.15s ease-in-out, border-color 0.5s ease-in-out;
  border-left: 5px solid $primary-color;

  .circle {
    background-color: $primary-color;
    transition: background-color 0.5s ease-in-out;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
  }

  .helpIcon {
    color: $content-color-lighter;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 18px;
    height: 18px;
  }
}

.disabled {
  transition: border-color 0.5s ease-in-out;
  border-left: 5px solid $content-color-lighter;

  .circle {
    background-color: $content-color-lighter;
  }
}

.saveButton {
  border: none;
  background-color: $primary-color;
  color: white;
  font-weight: bolder;
  position: absolute;
  right: 15px;
  top: 16px;
  font-size: 14px;
  text-align: center;
  width: 70px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, background-color 0.15s ease-in-out;

  &.dirty {
    opacity: 0.5;
  }

  &.dirty:hover {
    background-color: $primary-color;
    opacity: 1;
    color: white;
  }
}
