.inputError {
  border-color: red !important;
}

.inputArea {
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: hidden;
}

.listElement {
  display: flex !important;
  width: 100%;
  align-items: stretch;

  &:hover {
    .listElementIcon {
      display: inherit !important;
    }
  }
}

.listElementValue {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.listElementIcon {
  display: none !important;
  padding-left: 10px;
}
