@import '../../palette.scss';

.sidebarReact {
  bottom: 0px !important;
}

.sidebar {
  background-color: $sidebar-color;
  color: $sidebar-text-color;
  height: 100%;
  max-width: 200px;
}

.sidebar ul {
  background-color: $sidebar-color;
}

.sidebar ul li {
  font-size: 16px;
  line-height: 44px;
  border-top: 1px solid #2d2d2d;
  a {
    padding: 0 15px;

    :global(.icon) {
      display: inline;
      vertical-align: middle;
      color: $sidebar-primary-color;
      padding: 0 10px 0 0;
      font-size: 18px;
    }
  }
}

.sidebar ul li a {
  &:hover,
  &:focus,
  &:active {
    background-color: $sidebar-hover-color;
  }

  color: $sidebar-text-color;
}

.active {
  background-color: $sidebar-hover-color;
  border-left: 5px solid $sidebar-primary-color;
}

.customIcon {
  width: 28px;
  height: 18px;
  padding-right: 10px;
}

.empty {
  height: 120px;
}
