.workspace {
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 93px);
}

.workspace :global(.Resizer.vertical) {
  background: black;
  width: 8px;
  cursor: col-resize;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  opacity: 0.1;
  z-index: 1000;
  margin: 0 -5px;

  &:hover {
    opacity: 0.2;
  }
}

.workspace :global(.SplitPane) {
  height: calc(100vh - 93px) !important;
}

.diagram {
  width: 100%;
  height: 100%;
}

.sidePanel {
  width: 100%;
  height: 100%;
  background: #fafafa;
  border-right: 2px solid #cecece;
  padding: 8px;
  overflow-y: auto;
}

.diagram :global(.storm-diagrams-canvas) {
  width: 100%;
  height: 100%;
  background: url('/img/grid.png') repeat;
}

.wrapper {
  background-color: white;
}
