.tooltipedElement {
  width: 100%;
}

.tooltip {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 12px;

  .right {
    margin-left: 5px;
  }

  .left {
    margin-left: -5px;
  }

  .top {
    margin-top: -5px;
  }

  .bottom {
    margin-top: 5px;
  }

  &:after {
    border-color: transparent;
    border-right-color: #000;
    border-right-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: "";
    height: 0;
    left: 0;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  &.right:after {
    top: 50%;
    left: auto;
    margin-left: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
  }

  &.top:after {
    top: auto;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
  }

  &.left:after {
    top: 50%;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    right: -5px;
    left: auto;
  }

  &.bottom:after {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
  }

  .tooltipInner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
  }

  /*&.on {
    opacity: 1;
    visibility: visible;
  }

  &.off {
    opacity: 0;
    visibility: hidden;
  }*/
}
