$bgColor: #394B59;

.tooltipedElement {
  width: 100%;
}

.tooltip {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 14px;

  .right {
    margin-left: 5px;
  }

  .left {
    margin-left: -5px;
  }

  .top {
    margin-top: -5px;
  }

  .bottom {
    margin-top: 5px;
  }

  &:after {
    border-color: transparent;
    border-right-color: $bgColor;
    border-right-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: "";
    height: 0;
    left: 0;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  &.right:after {
    top: 50%;
    left: auto;
    margin-left: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: $bgColor;
  }

  &.top:after {
    top: auto;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: $bgColor;
  }

  &.left:after {
    top: 50%;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: $bgColor;
    right: -5px;
    left: auto;
  }

  &.bottom:after {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $bgColor;
  }

  .tooltipInner {
    max-width: 200px;
    padding: 7px 10px;
    color: #F5F8FA;
    text-align: center;
    background-color: $bgColor;
    border-radius: 4px;
  }
}
