.sidebar {
  background-color: #222a33;
  .header {
    height: 60px;
    background-color: #1b232c;

    h3 {
      display: block;
      float: left;
      margin-top: 0;
      color: #a0a0a0;
      font-size: 14px;
      font-weight: 500;
      padding: 4px 7px 0px 0px;
    }

    .allPaused {
      width: 160px;
      height: 100%;
      float: left;
      padding-top: 18px;
      padding-left: 10px;
    }

    .filter {
      position: absolute;
      top: 18px;
      left: 24px;
    }
    .textfilter {
      position: absolute;
      width: 80%;
      top: 18px;
      left: 10px;
    }

    .filter:hover {
      cursor: pointer;
    }

    .initial_search {
      @extend .filter;
      left: 60px;
    }
    .cancel_search {
      @extend .filter;
      float: 'right';
      left: 90px;
    }

    .textbox_search {
      @extend .filter;
      left: 280px;
      top: 23px;
    }
    .textbox_cancel {
      @extend .filter;
      left: 310px;
      top: 23px;
    }
  }

  .users {
    overflow-y: auto;
  }

  .current {
    h3 {
      color: white;
    }
  }

  .empty {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
  }

  .toggle {
    &:global(.react-toggle--checked) {
      :global(.react-toggle-thumb) {
        border-color: #56c0b2;
      }

      :global(.react-toggle-track) {
        background-color: #56c0b2 !important;
      }
    }
  }
}
