.root {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0px -10px 10px rgba(200, 200, 200, 0.08);
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.animated {
  animation-duration: 2s;
  animation-name: NPSInput-slidein;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  outline: none;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  text-decoration: none;
  border: 0;
  opacity: 0.4;
  font-size: 16px;
}

.close:hover {
  opacity: 1;
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.message {
  margin: 0px;
  margin-bottom: 15px;
  font-size: 16px;
}

@keyframes NPSInput-slidein {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0px;
  }
}
