.status {
  padding: 10px;
}

.editor {
  flex-grow: 1;
  color: #b1b1b1;
  height: calc(100vh - 30px);
}

.editorContainer {
  width: 100%;

  .btn {
    cursor: pointer;
    color: #b1b1b1;
    vertical-align: middle;
    float: right;

    &:hover {
      color: #000;
    }
  }
}

.tabsContainer {
  display: 'flex';
  height: 35px;
  padding-left: 0px;
}

.tab {
  background: #fff;
  width: fit-content;
  color: #333;
  height: 35px;
  display: flex;
  padding: 10px 10px 0px 10px;

  span {
    font-size: 0.8em;
    margin-right: 5px;
  }
}

.sidePanel {
  width: 400px;
}
