:global(.bp3-dialog-container) {
  height: 100%;
}

.dialog {
  max-height: 90%;

  .form, :global(.bp3-dialog-body) {
    overflow: auto;
  }
}

.dialogBody {
  position: relative;
  margin: 0 !important;
  padding: 20px !important;
  overflow: auto;
}
