.diagram {
  height: calc(100%);
  background-color: white;
}

.diagram :global(.srd-diagram) {
  height: calc(100%);
  background: url('assets/ui-studio/public/img/grid.png') repeat;
}

.wrapper {
  background-color: white;
}
