:global(#toolbarInsertSkill) {
  padding: 3px 12px;
  margin: 3px 5px 0;
  border-radius: 0;
}

.wrapper {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  background: #fafafa;
  padding-left: 15px;
}

.toolbar {
  .unsavedText {
    color: #888;
  }
}

.separator {
  user-select: none;
  border-left: 1px solid #d9d9d9;
  height: 40px;
  margin: 0 5px 0 4px;
  vertical-align: top;
  display: inline-block;
}

.btn {
  user-select: none;
  margin: 6px 0 0 2px;
  height: 30px;
  background: 0;
  border-color: transparent !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  outline: none;
  padding: 0;
  line-height: 30px;
  list-style: none;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:focus {
    outline: none !important;
  }

  i {
    padding: 4px 3px;
    font-size: 21px;
    color: #000;
    opacity: 0.54;
  }

  &:not([disabled]):hover {
    i {
      opacity: 1;
    }
  }
}
