:global(.form-control) {
  margin-bottom: 5px;
}

:global(.panel-body) {
  color: gray;
}

.image {
  height: 60px;
  margin: auto;
  text-align: center;
  font-size: 50px;
  vertical-align: top;

  img,
  i {
    height: 60px;
    display: block;
    margin: auto;
    border-radius: 5px;
  }
}

.tag {
  margin-right: 3px;
}

.usersTable {
  tbody > tr > td {
    vertical-align: middle;
  }

  a {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.count {
  text-align: right;
  margin-bottom: 10px;
}
